/*
 * Style per form di tipo black
 */

@import "compass/css3";
@import "settings";


.formBlack{
  padding-top: 3%;
  h2, h3{
    color: $grey-light;
  }
}

.formBlack-box{
  border-top: 1px solid $orange;
  background-color: $grey-superdark;
  margin-bottom: 60px;
}


.formBlack-title{
  text-align:center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.formBlack-body{
	padding: 30px;
}

.formBlack label{
  	font-size: 14px;
  	color: $grey-light;
  	text-align:left !important; 
  	padding-bottom:20px !important; 
  	.error{
  		background: none !important;
	  	color: $red !important;
	  	float: right;
  	} 
}

.formBlack input[type='text'], textarea, .error textarea, select{
	background-color:$black; 
	// padding: 20px 5px;
	min-height:40px;
  	color: $white;  
  	border: 0px;
  	border-bottom: 1px solid $grey-dark;
  	margin-left:0px;
	&:focus{
	    background-color:$grey-dark;
	    border-bottom: 1px solid $grey;
    }    
}

.formBlack .error input{
	margin-bottom: 14px !important;	
}

.formBlack .buttonOrange{
	width: auto;
	height: 30px !important;
	font-size: 14px;
	color: $white;
	line-height: 20px;
	margin-right: 5px;
	padding: 8px 15px 10px 50px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-color: $orange;	
}

.formBlack .buttonNext{
  	border: 0px;
	color:$white;
  	width:135px;
  	height:35px;
  	margin:20px !important;
  	background-repeat:no-repeat;
  	background-image:url(../images/button/signup-next.png) !important;
	background-color: $grey-superdark;
}

.formBlack .buttonBlack{	
  border: 0px;
  color:$grey;
  width:135px;
  height:35px;
  margin:20px !important;
  background-repeat:no-repeat;
  background-image:url(../images/button/signup-back.png) !important;
  background-color: $grey-superdark;
}


.formBlack .upload-box{
	height: 103px;
	border: $grey 1px solid;
	margin: 0px !important;
	cursor: pointer;
	margin-bottom: 20px !important;
	.thumbnail-box{
		text-align:center !important;
		  background-color: $grey-dark !important;
		  height:99px !important;
		  margin:1px !important;
		  width:99px !important;
	}
	.thumbnail{
		background-color: $grey-dark !important;
		height: 106px;
		width: 108px;
	}
	.small-3{
		padding: 0px !important;
	}
	.small-9{
		padding-left: 10% !important;
		padding-top: 10% !important;
	}
	.upload-reveal{
		background-color: $grey-superdark;
		left: 10%;
		top: -450% !important;
		width: 270%;
	}
}


.formBlack input[type='checkbox'] + label{
    background-color: $grey-dark !important;
  	height:25px !important;  
  	color:$white;
  	float:left;
  	padding:5px;
  	margin-right:15px;
  	margin-top:15px;
  	padding-left:10px;
  	padding-right:10px;
}

.formBlack input[type='checkbox']:checked + label{
    background-color: $orange !important;
}

.ui-datepicker {
	width: 216px;
	height: auto;
	margin: 5px auto 0;
	font: 9pt Arial, sans-serif;
	
}

.ui-datepicker-header {
	background-color: $grey-dark;
	color: $grey !important;
	
	a{
		color: $grey !important;
	}
	
	line-height: 30px;
	
}

.ui-datepicker-title {
	text-align: center;
	font-weight: bold;
}

.ui-datepicker-prev, .ui-datepicker-next {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;	
	background-repeat: no-repeat;	
	overflow: hidden;
}

.ui-datepicker-prev {
	float: left;
	background-position: center -30px;
}
.ui-datepicker-next {
	float: right;
	background-position: center 0px;
}


.ui-datepicker-calendar{
	width: 216px !important;
}

//----------------------------- featuring --------------------------
.formBlack{
	#s2id_trackFeaturing{
		margin-bottom: 10px !important;
	}
	.select2-container-multi .select2-choices{
		font-size: 14px;
		background:$black !important; 
	  	color: $white !important; 
	  	border: 1px solid $grey-dark !important; 
	  	margin-left:0px !important; 
		&:focus{
		    background-color:$grey-dark !important; 
		    border-bottom: 0px solid $grey !important; 
	    }  
	}
	
	.select2-container-active{
		border: 1px solid $grey-dark !important; 
	}
	
	.select2-no-results{
		display: none !important;
	}
	
	.select2-drop{
		color: $white !important;   
		background:$black !important;
		border: 1px solid $black !important;	
	}
	
	.select2-highlighted{
		background: $orange !important;
	}
	.select2-search-choice{
		font-weight: 500 !important;
		height: 30px !important;
		padding: 6px !important;
		padding-left: 16px !important;
		background: $orange !important;
		color: #fff !important;
		border: 1px solid $orange !important;
		border-radius: 0px !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}
	.select2-search input.select2-active{
		background:$black !important; 
	  	color: $white !important; 
	}
}

/* Progress Bar */
.ui-progressbar,
.ui-progressbar-value {
    position: relative;
    height: 4px;
 
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
 
.ui-progressbar {
    cursor: pointer;
    margin: 15px 0 20px 0;
    background: #242424;
    left: -30px;
    top: 10px; 
}
 
 .ui-progressbar-value {
 	top: 12px;
    background: $orange;    
}
 
 .ui-progressbar-value span.progressTooltip {
    position: absolute;
    display: block;
    width: 36px;
    height: 14px;
    padding: 0px 10px 4px 25px;
   	top: -8px;
    right: -25px;
 
    font-family: sans-serif;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    color: #646464;

}
