@import "compass/css3";
@import "settings";


//-------------- PROFILE ---------------------------
#profile{
 padding-top: 30px;
 background-color: $grey-dark;
}

.avatar{
  border: 1px solid $grey;
  margin-top:5px !important; 
  margin-bottom: 40px;
  width:470px;
  height:470px;
}

section.active > .title a{
  color: $white !important;
} 

.picture {
    position:absolute;
    height:150px; width:150px;
    left:50%; top:50%;
    margin-left:-75px; margin-top:-75px;
    z-index:3;
}

.section-container .title{
  font-size:17px;
  border-bottom: 1px solid $grey-dark; 
}

.section-container{
  margin-bottom:40px !important;
}

.box-membre{
  padding: 10px;
  margin-bottom: 10px;
  width:auto;
  height: 64px;
  background-color:$black;  
  cursor:pointer;
}

.box{
  background-color:$grey-superdark;
  padding: 20px !important;
  padding-bottom:0px !important;
  margin-bottom:40px;
  
}

#event{
  .sottotitle{
    margin-bottom: 10px;
  }
  .ico-label{
    margin-bottom: -10px !important;
  }
  
  .box-single-event{
    cursor: pointer !important;
  }
}


.box-album{
  border-bottom: 1px solid $grey-dark !important;
  padding-bottom: 10px !important;
  cursor: pointer;
}

.box-album .play_now{
  background-color: $grey !important;
  width: 100px;
  height: 33px;
  &:hover {
    background-color: $orange !important;
 } 
}

.box#albumcover-single{
  padding: 10px !important;
}

.box#album-single{
  padding: 10px !important;
}

.album{
  padding-top: 10px;
  .sottotitle, .text, .note{
    padding-bottom: 20px;
  }
}

.album-thumb{
  width:110px;
  height:110px;
}

.album-select{
  cursor:pointer;
}

.track{
  padding-top: 5px;
  padding-bottom: 5px;  
   border-bottom: 1px solid $grey-dark !important; 
    &:hover {
   background-color: $black;
   }  
}

.userThumb{
 width: 45px;
 height: 45px; 
}

.track{
  &:hover {  	 
   .track-propriety{
   	 display:block !important;
   }
  } 
}
.track ._play-large{
	&:hover {	
  		color:$white !important;
  	}
} 
.track-propriety{
  padding: 2px;
  display:none;
}

.album-other{
 cursor:pointer;
 text-align:right;
 padding: 10px;
 height:40px;
 background: url(../images/icon/small/other.png);
 background-repeat: no-repeat;
 background-position: Center;
}

.album-single-propriety{
  border-top: 1px solid $grey-dark !important;
  padding-top:5px;
  padding-bottom:5px; 
}

.propriety{
  padding-right:5px;
  text-align:right;
}

.icon-propriety{
  width:auto;
  height:15px;
 // float:left;
  font-size:11px;
  color:$grey;
  line-height:15px;
  margin-right:1px;
  padding:0 0px 0 15px;
  cursor:pointer;
  background-repeat:no-repeat;  
  &:hover {   
    color:$grey;
  } 
}

.content #map_venue{
  width:100% !important;
  height:300px !important;
  margin-bottom: 10px; 
}

//---------- music -------------------
#record.royalSlider {
	width: auto !important;
	height: 480px !important;
	.rsContent{
		background-color: $grey-superdark !important;		
	}
		
}

//---------- record review ---------------

#recordReviewSlide.royalSlider{
	width: auto !important;
	//height: 100px !important;	
	.rsContent{
		background: #fff !important;		
	}
	
	
}
#eventReviewSlide.royalSlider{
	width: auto !important;
	//height: 100px !important;	
	.rsContent{
		background: #fff !important;		
	}
	
	
}

//------------------------ Photo -------------------------
.albumcover-list{
	padding-bottom: 10px !important; 
}
#albumcover-list.box{
	padding-bottom: 5px !important;
	padding-top: 5px !important;
}

.albumcover{
  width:310px;
  height:160px;
  padding-bottom: 10px !important;
  cursor:pointer;
}

.box-coveralbum{
  padding: 10px !important;
  border: 1px solid $grey-dark !important;
 // margin: 5px;
}

#albumcover-single .large-block-grid-3{
  padding-top: 10px !important;
}

#albumcover-single [data-clearing] li{  
  margin-right: 0px !important;
}

.photo{ 
 cursor: pointer;
}


//----------------- event ---------------------
.event{
  padding:0px !important;
  padding-right:5px !important;
}

.eventcover{
  height:130px;
  width:130px;
}

#albumcover-single .reveal-modal{
  height:100%;
  width:100%;
}
#event.royalSlider {
	width: auto !important;
	height: 550px !important;
	.rsContent{
		background-color: $grey-superdark !important;		
	}
		
}

#box-event .box{
	padding: 10px !important;
	.propriety {
		padding-right: 20px !important;
		padding-left: 0px !important;
	}	
}


//-------------- SOCIAL ---------------------------
#social{
  padding-top: 65px;
  background-color: $white;
}


.status{
  text-align:right;
}

.livel-status{
  font-weight:700;
  margin-bottom:4px !important;  
}

.coverThumb{
  height:60px;
  width:60px;
}

#social #recordReview .box{
  padding: 10px 10px 0px 10px !important;
}
#social #eventReview .box{
  padding: 10px 10px 0px 10px !important;
}
.touchcarousel{
  width: auto !important;
  height: auto !important;
}

.textAlbumReview{
  margin-top:10px;
}
.textEventReview{
  margin-top:10px;
}

#social_list_achievement .arrow-holder {
      height: 250px;
    }
#social_list_achievement{
  margin-left:30px !important;
  margin-right:30px !important;
}
.arrow-holder {
  height: 60px !important;
}


//---------------- achievement -----------------------------
.achievement{
  margin: 10px; 
  height:40px;
  width:40px;
  float:left;
  border:$grey-light 1px solid;
  @include border-radius(1000px);  
}

.achievement-target{
  margin: 10px;
  border:$orange 3px solid;
  cursor:pointer;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:left top;
  @include transition-property(background-position, color);
  &:hover {
    background-color: $orange;
    background-position:left bottom;   
  }
}


.status-button{
 
  text-align:right;
  height:35px;
  margin-bottom: 40px;
}

.button{
 height:35px !important; 
 border:0px !important;
 padding-top: 10px !important;
}

.bg-orange{
  background-color: $orange !important;
  &:hover {
    background-color: $orange-dark !important; 
  }
}

.bg-grey{
  background-color: $grey !important;
  &:hover {
    background-color: $grey-dark !important; 
  }
}

.icon-button{
  width:auto;
  height:20px;
  font-size:14px;
  color:$white;
  line-height:20px;
  margin-right:1px;
  padding:0 0px 0 22px;
  cursor:pointer;
  background-repeat:no-repeat;
}

#social .box{
  border:$grey-light 1px solid;
  background-color: #fff !important;  
}

#social .text{
  margin-bottom: 10px;
}

#social .album-thumb{
  width:90px;
  height:80px;
  margin-right:0px;
}
.box-info{
  padding-left:0px !important;
}

#social .line{
  border-bottom: 1px solid $grey-light; 
  padding-bottom: 5px !important;
}

#activities .small-block-grid-4{
  padding-top: 10px;
}

#social .box-membre{  
  height: 55px;
  background-color:$white;
}


//------------------ POST ------------------------------
.box-post{
  border: 1px solid $grey-light;
  padding: 5px;
}

.post {
  color: $grey !important; 
  font-size:14px !important;  
  padding:6px 15px 6px 30px !important;
  border:#fff 0px solid !important;  
  background-color: #fff !important;
  background: url(../images/icon/write.png) no-repeat 8px 6px !important;   
}

.box-write{
  background-color: #fff !important;
  padding:5px !important;
  border:$grey-light 1px solid !important;  
  height:45px;
}

.post-button{
  color: #fff;
  background: $orange !important;
  border:#fff 0px solid !important; 
  height: 34px !important; 
  width: 90px !important;
}

.comment-button{
  color: #fff;
  background: $grey !important;
  border:#fff 0px solid !important; 
  height: 34px !important; 
  width: 90px !important;
}


//--------------------- COMMENT ----------------------------

.box-comment{
  padding: 5px !important;
  padding-bottom: 1px !important;
  background: $grey-light !important;
  margin-bottom: 50px;
  .box-write{
    margin-bottom:5px !important;
  }
  .line{
    border-bottom: 1px solid $grey-light; 
    padding-bottom: 5px !important;
  }
  .text{
    margin-bottom: 10px;
  }
  
}

.box-singole-comment{
  padding: 10px !important;
  padding-bottom: 1px !important;
  background: #fff !important;
  margin-bottom: 5px;
}


