@import "compass/css3";
@import "settings";

//-------------- scrollbar ------------------------
//PROFILE
#scroll-profile .mCSB_container{
   margin-right: 0px !important;
}

#scroll-profile .mCSB_scrollTools .mCSB_draggerContainer{
	margin-top: 118px !important;
	margin-bottom: 50px !important;
}

#scroll-profile .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color: #222 !important;
	width: 8px !important;
}

#scroll-profile .mCSB_scrollTools .mCSB_draggerRail{
	background: none !important;
}

//SOCIAL
#scroll-profile .mCSB_container{
 //  margin-right: 10px !important;
}
#scroll-social .mCSB_scrollTools .mCSB_draggerContainer{
	margin-top: 118px !important;
	margin-bottom: 50px !important;
}

#scroll-social .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color: #CCC !important;
	width: 8px !important;
}

#scroll-social .mCSB_scrollTools .mCSB_draggerRail{
	background: none !important;
}

//LIGHTBOX
#cboxLoadedContent .mCSB_container{
   margin-right: 12px !important;
}
#cboxLoadedContent .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color: $grey !important;
	width: 8px !important;
	
}

#cboxLoadedContent .mCSB_scrollTools .mCSB_draggerRail{
	background: none !important;
}


//----------------share -------------------------
						
.addthis_toolbox .hover_menu  {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: auto;
    padding: 5px;
    border: 1px solid $grey-light;
    @include border-radius(5px);
}

.addthis_toolbox .hover_menu a {    
    position: relative;
    display: block;
}

.addthis_toolbox .hover_menu a:hover {    
    background: #f5f5f5;
   @include border-radius(5px);
}

//-------------- PROFILE ---------------------------
//tronca la parola
.breakOff{
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	
}
.breakOffTest{
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap;
}

//spinner
.spinner {  
  	position: relative !important;
	margin: 5px !important;
	left: 50% !important;
}

.box-spinner{
	position: relative; 
	height: 50px;
}

#ascrail2002 div{
	cursor: pointer !important;
}

#profile{
 padding-top: 30px;
 background-color: $grey-dark;
}

#profile .line{
  border-bottom: 1px solid $grey-dark; 
  padding-bottom: 5px !important;
}

#result {
	.box {
		margin-bottom:10px
	}
}


#profile .box-detail {
	padding-top:10px;
	padding-bottom:10px;
	h5 {
		color: white;
		margin:0;
	}
	h6 {
		color: $grey;
		margin:0;
	}
	
}

.background{
  border: 1px solid $grey;
  margin-top:5px !important; 
  margin-bottom: 40px;
  width:470px;
  height:470px;
}

section.active > .title a{
  color: $white !important;
} 

.picture {
    position:absolute;
    height:150px; width:150px;
    left:50%; top:46.5%;
    margin-left:-75px; margin-top:-75px;
    z-index:3;
}

//--- selection for information ----
.section-container .title{
  font-size:17px;
  border-bottom: 1px solid $grey-dark; 
}

.section-container{
  margin-bottom:40px !important;
}
//--- end selection for information ----


//--------- box -----------
.box{
  background-color:$grey-superdark;
  padding: 20px !important;
  padding-bottom:0px !important;
  margin-bottom:40px;
  
}

.box-element{
	border: 1px solid $grey-dark;
	margin-bottom: 5px !important;
	padding: 5px !important;
	cursor: pointer !important;
	 .sottotitle{
	    margin-bottom: 10px;
	  }
	  .ico-label{
	    margin-bottom: -10px !important;
	  } 
}



.box-singleAlbum{
	padding-top: 10px !important;
}



.box#albumcover-single{
  padding: 10px !important;
}

.box#album-single{
  padding: 10px !important;
}



//mini box for thumnail and name user
.box-membre{
  padding: 10px;
  margin-bottom: 10px;
  width:auto;
  height: 53px;
  background-color:$black;  
  cursor:pointer;
}




.album-other{
 cursor:pointer;
 text-align:right;
 padding: 10px;
 height:40px;
 background: url(../images/icon/small/other.png);
 background-repeat: no-repeat;
 background-position: Center;
}


.otherSet{
 cursor:pointer;
 text-align:right;
 padding: 10px;
 height:40px;
  background-color: $grey-light !important;
 background: url(../images/icon/small/other-grey.png);
 background-repeat: no-repeat;
 background-position: Center;
 margin: 1px !important;
 margin-bottom: 40px !important;

}

.otherReview{
 cursor:pointer;
 text-align:right;
 padding: 10px;
 height:40px;
 background: url(../images/icon/small/other.png);
 background-repeat: no-repeat;
 background-position: Center;	
}

.album-single-propriety{
  border-top: 1px solid $grey-dark !important;
  padding-top:5px;
  padding-bottom:5px; 
}

.propriety{
  padding-right:5px;
  text-align:right;
}

.icon-propriety{
  width:auto;
  height:15px;
 // float:left;
  font-size:11px;
  color:$grey;
  line-height:15px;
  margin-right:1px;
  padding:0 0px 0 15px;
  cursor:pointer;
  background-repeat:no-repeat;  
  &:hover {   
    color:$grey;
  } 
}

.content #map_venue{
  width:100% !important;
  height:300px !important;
  margin-bottom: 10px; 
}



#colorbox{
	
	position: absolute !important ;
    top: 50% !important;
    margin-top: -310px !important;
}


#cboxContent {	
	background: none !important;
	margin-top: 25px !important;
}

#cboxCurrent {
	right: 35px !important;
	font-size: 14px !important;
}

#cboxNext {
	box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
}

#cboxPrevious {
	box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
	left: 0px !important;
}

#cboxClose {
	top: -18px !important;
	box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
	right: 0px !important;
//	width: 26px !important;
//	height: 32px !important;
}



//------------------------ Photo -------------------------
#albumSlide.royalSlider{
	width: auto !important;
	background: $grey-superdark !important;		
	.rsContent{
		background: $grey-superdark !important;		
	}
	
	
}

.albumcover-list{
	padding-bottom: 10px !important; 
}
#albumSlide.box{
	padding: 5px 5px 5px 5px !important;
	.box-coveralbum {
		cursor:pointer;
	}
}

.albumcover{
  width:310px;
  height:160px;
  padding-bottom: 10px !important;
  
}

.box-coveralbum{
  padding: 10px !important;
  border: 1px solid $grey-dark !important;
 // margin: 5px;
}

#albumcover-single .large-block-grid-3{
  padding-top: 10px !important;
}

#albumcover-single [data-clearing] li{  
  margin-right: 0px !important;
}

.photo{ 
 cursor: pointer;
}

.lightbox-photo{
		height: 100% !important;
	.lightbox-photo-box{
		background-color: $grey-superdark !important;
		border: 1px solid $grey;
		padding-top: 15px !important;
		padding-bottom: 15px !important;
		height: 100% !important;
		
		
		.album-photo{
			width: auto !important;
			max-height: 430px !important;
			
		}
		.box-comment{
			margin-bottom: 5px;
		}
		.album-photo-box{
			text-align: center;
			height: 450px !important;
			cursor:pointer;
		}
	}
		
}

#cboxLoadedContent{
	width: auto !important;	
	padding-right: 8px !important;
	margin-right: 30px !important;
	margin-left: 30px !important;
	background: none !important;
	border: 0px solid #000 !important;
}


//---------- record -------------------
#profile-Record .box{
	padding: 5px !important; 
	.propriety{
		padding-right: 15px !important;
	}
}

#recordSlide.royalSlider {
	width: auto !important;	
	.rsContent{
		background-color: $grey-superdark !important;		
	}		
}

#record-list .play_now{
  background-color: $grey !important;
  width: 100px;
  height: 33px;
  margin-top: 10px;
  margin-bottom: 10px;
  &:hover {
    background-color: $orange !important;
 } 
}

#profile-Record .box-info-element{
 //	border-top: 1px solid $grey-dark !important;
 	margin-bottom: 5px !important;
	padding: 5px !important;
	cursor: pointer !important;
	 .sottotitle{
	    margin-bottom: 10px;
	  }
	  .ico-label{
	    margin-bottom: -10px !important;
	  }	
}


.album-thumb{
  width:110px;
  height:110px;
}

.album-select{
  cursor:pointer;
}

#profile-Record .track{
  padding-top: 5px;  
   border-top: 1px solid $grey-dark !important;
   ._play-large{
   	margin-bottom: 5px !important;
   } 
    &:hover {
   		background-color: $black;
   		border-top: 2px solid $orange !important; 
   }  
}

.userThumb{
 width: 45px;
 height: 45px; 
}

.track{
  &:hover {  	 
   .track-propriety{
   	 display:block !important;
   }
   .track-nopropriety{
   	display:none !important;
   }
  } 
}
.track ._play-large{
	&:hover {	
  		color:$white !important;
  	}
} 
.track-propriety{
  padding: 2px;
  display:none;
}

//----------------- event ---------------------
.event{
  padding:0px !important;
  padding-right:5px !important;
}

.eventcover{
  height:130px;
  width:130px;
  padding-bottom: 5px !important;
}

#albumcover-single .reveal-modal{
  height:100%;
  width:100%;
}

#eventSlide.royalSlider {
	width: auto !important;
	height: auto !important;
	.rsContent{
		background-color: $grey-superdark !important;		
	}
		
}

#profile-Event .box{
	padding: 5px !important;
	.propriety {
		padding-right: 20px !important;
		padding-left: 0px !important;
	}	
}




//-------------- SOCIAL ---------------------------
#social{
  padding-top: 65px;
  background-color: $white;
}


.status{
  text-align:right;
}

.livel-status{
  font-weight:700;
  margin-bottom:4px !important;  
}

.coverThumb{
  height:60px;
  width:60px;
}

#social-status {
	form {
		margin-bottom: 0;
		input {
			margin-bottom: 5px;
		}
	}
	p {
		margin-bottom: 2px;
	}
	.note{
		font-size: 14px !important;
	}
	margin-bottom: 40px;
}

#social #RecordReview .box{
  padding: 10px 10px 0px 10px !important;
}
#social #eventReview .box{
  padding: 10px 10px 0px 10px !important;
}
.touchcarousel{
  width: auto !important;
  height: auto !important;
}

#social-badge {
	.touchcarousel-item {
		padding:5px 9px;
	}
}

.has-tip {
	border-bottom: none !important;
	&:hover{
		border-bottom: none !important;
	}
	&:focus{
		border-bottom: none !important;
	}
}

.textReview{
  margin-top:10px;
}


.cropText {
 height: 46 !important;
}


.textEventReview{
  margin-top:10px;
}

#social_list_badge .arrow-holder {
      height: 250px;
}
#social_list_badge{
  margin-left:30px !important;
  margin-right:30px !important;
}
.arrow-holder {
  height: 60px !important;
}

.recordReview-propriety{
	
	padding-right: 15px;
}

#social-EventReview .box{
	padding-bottom: 5px !important;
}

#social-RecordReview .box{
	padding-bottom: 5px !important;
}
//---------------- achievement -----------------------------
.achievement{
  margin: 10px; 
  height:40px;
  width:40px;
  float:left;
  border:$grey-light 1px solid;
  @include border-radius(1000px);  
}

.achievement-target{
  margin: 10px;
  border:$orange 3px solid;
  cursor:pointer;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:left top;
  @include transition-property(background-position, color);
  &:hover {
    background-color: $orange;
    background-position:left bottom;   
  }
}


.status-button{ 
  text-align:right;
  height:35px;
  
  .button {
  	padding-left: 5px;
  	padding-right: 10px;
  }
}

.button{
 height:35px !important; 
 border:0px !important;
 padding-top: 7px !important;
}

.bg-orange{
  background-color: $orange !important;
  &:hover {
    background-color: $orange-dark !important; 
  }
}

.bg-grey{
  background-color: $grey !important;
  &:hover {
    background-color: $grey-dark !important; 
  }
}

.icon-button{
  width:auto;
  height:20px;
  font-size:14px;
  color:$white;
  line-height:20px;
  margin-right:1px;
  padding:0 0 0 25px;
  cursor:pointer;
  background-repeat:no-repeat;
}

#social .box{
  border:$grey-light 1px solid;
  background-color: #fff !important;
  padding-bottom: 5px !important; 
}

#social .text{
  margin-bottom: 10px;
}

#social .album-thumb{
  width:90px;
  height:80px;
  margin-right:0px;
}
.box-info{
  padding-left:0px !important;
}

#social .line{
  border-bottom: 1px solid $grey-light; 
  padding-bottom: 5px !important;
}

#activities .small-block-grid-4{
  padding-top: 10px;
}

#social-activity .box-singleActivity{
	cursor: pointer
}

#social .box-membre{  
  height: 55px;
  background-color:$white;
}

//---------- record review ---------------

#recordReviewSlide.royalSlider{
	width: auto !important;
	//height: 100px !important;	
	.rsContent{
		background: #fff !important;		
	}
	
	
}
#eventReviewSlide.royalSlider{
	width: auto !important;
	//height: 100px !important;	
	.rsContent{
		background: #fff !important;		
	}
	
	
}


//------------------ POST ------------------------------

#social-Post .box{
	margin-bottom: 10px;
}

.box-post{
  border: 1px solid $grey-light;
  padding: 5px;
}

.post {
  color: $grey !important; 
  font-size:14px !important;  
  padding:6px 15px 6px 30px !important;
  border:#fff 0px solid !important;  
  background-color: #fff !important;
  background: url(../images/icon/write.png) no-repeat 8px 6px !important;   
}

.box-write{
  background-color: #fff !important;
  padding:5px !important;
  border:$grey-light 1px solid !important;  
  height:45px;
}

.post-button{
  color: #fff;
  background-color: $orange !important;
  border:#fff 0px solid !important; 
  height: 34px !important; 
  width: 90px !important;
}

.post-button-send {
   background-repeat: no-repeat;
   background-image: url(../images/icon/btn-loader.gif);
   background-position: center center;
  }
.comment-btn-loader{
	background-repeat: no-repeat !important;
   background-image: url(../images/icon/btn-loader.gif) !important;
   background-position: center center !important;  
}
.comment-btn{
  color: #fff;
  background-color: $grey !important;
  border:#fff 0px solid !important; 
  height: 34px !important; 
  width: 90px !important;
}

#social-Post #post-error {
	margin-bottom:15px;
	display:none;
	cursor:pointer;
	
}

.comment-error {
	display:none;
	cursor:pointer;
	padding-bottom: 5px;	
}


//--------------------- COMMENT ----------------------------

.box-opinion{
  padding: 5px !important;
  padding-bottom: 1px !important;
  background: $grey-light !important;
  margin-bottom: 50px;
  .box-write{
    margin-bottom:5px !important;
  }
  .line{
    border-bottom: 1px solid $grey-light; 
    padding-bottom: 5px !important;
  }
  .text{
    margin-bottom: 10px;
  }
  
}

.box-singole-comment{
  padding: 10px !important;
  padding-bottom: 1px !important;
  background: #fff !important;
  margin-bottom: 5px;
}

.box-commentSpace{
	margin-bottom : 0px !important;
}

//--------------------- STREAM ----------------------------

.welcome-stream {
	text-align: center;
	margin: 45px 0;
	h3 {
		color:$orange;
	}
	h5 {
		color:white;
	}
	p {
		margin-bottom: 0;
	}
}



.discover-button {
	width:100%;
	height: 45px;
	color: white;
	cursor:pointer;
	line-height: 45px;
	text-align: center;
	background-color: $grey-dark;
	margin-bottom: 20px;
	@include transition-property(all);
	@include transition-duration(300ms);
	&:hover {
		background-color: $orange;
	}
}

.discover-button-active {
	background-color: $orange;
}

.newBadge {
	.small-2 {
		padding-right:0;
	}
	
	.badgeThumb {
		text-align:center;
		padding-top:5px;
	}
	
	h5 {
		margin-bottom:0;
	}
}

//------- relation
#modalRelation{
	top: 10% !important;
}

#spinnerRelation.box{	
		background-color: #fff;
	
}

