@import "compass/css3";
@import "settings";

/* classi generiche */

html {
	-webkit-font-smoothing: antialiased;
}

.no-display { display:none }
.inline-display { display:inline }


//scroll

#ascrail2000{
//  top: 160px !important;
 
}


#ascrail2001{
//  top: 160px !important;
  
}

// -------------------- TESTO -------------------------------
body{
  h2{ color: $white; margin-bottom: 0px;}
  h3{ color: $grey; margin-bottom: 5px; }
}


.sottotitle{
  font-size: 17px !important;
}

.text{
  font-size: 14px !important;
}

label.text{ 
  font-weight: normal  !important; 
  margin-bottom: 5px !important; 
}

.line{
 border-bottom: 1px solid $grey; 
 margin-bottom: 5px !important;
}

.align-right{
 text-align:right !important;
}

.note{
  font-size:11px !important;
}

.white{
  color:$white !important;
}
.orange{
  color:$orange !important;
}
.grey{
  color:$grey !important;
}
.grey-dark{
  color:$grey-dark !important;
}

.grey-light{
  color:$grey-light !important;
}

.red{
  color:$red !important;
}

.content p{
  font-size: 14px;
  line-height:120%;
}
.content{
  border-bottom: 1px solid $grey-dark;
}

.bg-double{
 background-color: $white;
 height:auto;
 // @include filter-gradient($grey-dark, $white, horizontal); /* IE6-8 */
 /* IE9 SVG, needs conditional override of 'filter' to 'none' */
 $experimental-support-for-svg: true;
 @include background-image(linear-gradient(left,  $grey-dark 0%,$grey-dark 49.6%,$white 49.6%,$white 100%));

 overflow:hidden;
 
}

.bg-black{ 
  background:$black;
  height:100%;
}

.bg-grey-dark{ 
  background-color: $grey-dark !important;
  height:100%;
}

.bg-white{
	background-color: $white !important;
  height:100%;
}

.profile-style{
  background-color: $white;
}







a.ico-label {
  word-wrap: break-word !important;
  width:auto;
  height:30px;
  float:left;
  font-size:13px;
  color:$grey;
  line-height:30px;
  margin-right:1px;
  padding:0 0px 0 30px;
  cursor:pointer;   
  background-repeat:no-repeat;
  background-position:left bottom;
  @include transition-property(background-position, color);
  @include transition-duration($transition-duration);
  &:hover {
    background-position:left top;
    color:$grey;
  } 
}
a.ico-label-btn {
  background-color:$grey;
  padding:0 12px 0 30px;
  @include transition-property(background-color);
  @include transition-duration($transition-duration);
  &:hover {
    background-color:$grey;
  }
}

a.icon-block{
  word-wrap: break-word !important;
  width:auto;
  height:30px;
  float:right;
  font-size:13px;
  color:$grey;
  margin-top: 15px !important;
  line-height:30px;
  margin-right:1px;
  padding:0 0px 0 30px;
  cursor:pointer;   
  background-repeat:no-repeat;
  background-position:left top;
  @include transition-property(background-position);
  &:hover {
    background-position:left bottom;
  }
 
}

.slide-button-next{
	word-wrap: break-word !important;
	width:auto;
	height:30px;
	float:right;
	font-size:13px;
	color:$grey;
	line-height:30px;
  	margin-right:1px;
    cursor:pointer;   
	top: 5px !important; 
	margin-top: 15px !important; 
	padding: 0px 30px 0px 0px !important;	
  	background-repeat:no-repeat;
	background-position: right top;
	&:hover{
		background-position: right bottom;
		color: $orange;
	}
}

.slide-button-next-disabled{
	@include opacity(0.3); 
	&:hover{
		color:$grey;
		@include opacity(0.3); 
		cursor: default;
		background-position: right top !important;
	}
}

.slide-button-prev{
	word-wrap: break-word !important;
  width:auto;
  height:30px;
  float:right;
  font-size:13px;
  color:$grey;
  margin-top: 15px !important;
  line-height:30px;
  margin-right:1px;
  padding:0 0px 0 30px;
  cursor:pointer;   
  background-repeat:no-repeat;
  background-position:left top;
  @include transition-property(background-position);
  &:hover {
    background-position:left bottom;
    color: $orange;
  }
}
.slide-button-prev-disabled{	
	@include opacity(0.3); 
	&:hover{
		color:$grey;
		@include opacity(0.3); 
		cursor: default;
		background-position: left top !important;
	}
}

.add{
  width:43px;
  height:43px;
  background-color:$orange;
  float:left;
  cursor:pointer;
  &:hover{
    background-color:$orange-dark;
  }
}

.icon-small{
  width:15px;
  height:15px;
  margin-right: 5px !important;
}

#header-social .ico-label{
	 width:15px !important;
}

.iconNotification{
	left: -15px;
	top: -13px;
	background-color: $orange !important;
}



//-------------------- footer -------------------------

footer {  
  width:100%;
  height:auto;
  padding:8px;
  background:$black;  
  position: fixed;
  bottom: 0px;
  margin: 0px;
  z-index:999; 
  
  overflow:visible !important;  
}


#footer{
  overflow:auto;
  h1, h2, h3, h4, h5, h6  {
  color:$grey !important;
  margin-bottom:0.2em !important;
  }
  
}

.footer-ico{  
  color:$grey !important;  
  font-size:20px; 
  margin-right:15px;
  cursor:pointer;
  
}

.footer-ico-off{  
  color:$orange !important;  
  font-size:20px;   
  cursor:pointer;
}

#footer-header{
  
}

.user{
  font-size:20px; 
  color:$grey !important;  
  margin-top:5px;
  padding-bottom:0;   
}

#footer-body{
  overflow:auto;
  h1, h2, h3, h4, h5, h6  {
  color:$grey !important;
  margin-bottom:0.5em !important;
  }
}

#footer-body a{
  font-size:12px; 
  color:$grey !important;
  margin-bottom:0.2em !important;
}



//-------------------------- error -----------------------
#error_page{
	background-color: $grey-superdark !important;
	height: 700px;
	body{
		background-color: $grey-superdark !important;
	}
}

//---------------- signup------------------------------
#signup{
  padding-top: 3%;
  h2, h3{
    color: $grey-light;
  }
}

.signup-box{
  border-top: 1px solid $orange;
  background-color: $grey-superdark;
  margin-bottom: 60px;
}

.signup-title{
  text-align:center;
  margin-top: 5%;
  margin-bottom: 5%;
}

#signup01{
  text-align:center;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom:5%;
  h3{
    color: $grey !important;
  }
}

#form-signup label{
  font-size: 14px;
  color: $grey-light;
  text-align:left !important; 
  padding-bottom:20px !important;  
}



#signup01 label{
 text-align:center !important;
 color: $grey !important;
 &:hover {
    color: $grey-light !important;
    h3{color: $orange !important;} ;  
    .img-white{display:inline; text-align:center;};
    .img-grey{display:none}; 
  }
  
}


#signup-ok label{
 text-align:center !important;
 color: $grey !important; 
 &:hover {
    color: $grey-light !important;
    h3{color: $orange !important;} ;  
    .img-white{display:inline; text-align:center;};
    .img-grey{display:none}; 
  }
  
}

.signup-ok{
  h3{ color: $grey !important;}
  padding-left: 150px !important;
  padding-right: 150px !important; 
  padding-bottom: 50px !important;   
}

#form-signup input[type='text'],input[type='password']{ 
 // width: auto !important; 
  color: $white;
  background-color:$grey-superdark;
  border: 0px;
  border-bottom: 1px solid $grey-dark;
  margin-left:0px;
  &:focus{
    background-color:$grey-dark;
    border-bottom: 1px solid $grey;
  }
  
}

#form-signup input[type='text'].error,input[type='password'].error{
  border: 1px solid $red;
  
}

#form-signup select + #spotter-birth-day{
  cursor:pointer !important;
}

#form-signup textarea{
  color: $white !important;
  background-color:$grey-superdark;
  border: 1px solid $grey-dark;
  height: 150px;
  &:focus{
    background-color:$grey-dark;
   // border-bottom: 1px solid $grey;
  }
  
}
.captcha input[type='text']{
  width: auto !important;
}


#signup .signup-body{
  padding: 30px !important;
  padding-left: 60px !important;
  padding-right: 60px !important;
}

#signup .signup-labelStep{
  width: 95px;
  height: 50px;
  color: $grey-light;
  font-size:14px;
  background-color: $orange-dark;
  
  float:left;
  margin-left: 2px;
  padding: 20px;
  text-align:center !important;
 // font-weight: bold;
  float:right;
}

#signup .signup-button{
  background-image:url(../images/button/signup-next.png) !important;
  background-color: $grey-superdark;
  border: 0px;
//  float:center !important;
  color:$white;
  width:135px;
  height:35px;
  margin:20px !important;
  background-repeat:no-repeat;
  
}

#signup .signup-button-back{
  background-image:url(../images/button/signup-back.png) !important;
  background-color: $grey-superdark;
  border: 0px;
//  float:center !important;
  color:$grey;
  width:135px;
  height:35px;
 // margin:20px !important;
 background-repeat:no-repeat;
  
}

#signup .signup-note{
  padding-top: 50px;
}

#signup .signup-button-fb{
  width: 344px;
   height:55px !important;
   font-size:27px;
   font-weight: normal  !important; 
  background-color: $grey-light !important;
  @include border-radius(5px); 
  color: $grey-dark !important;
  background-image:url(../images/icon/facebook-button.png);
  background-repeat:no-repeat;
  background-position:5px 10px;
  padding: 5px !important;
  
}

#signup .align-center{
  text-align:center;
}


#signup .signup-box-image{
  border: 2px solid $grey;
  //width: 344px;
  height:105px !important;
  padding:0px !important;
  margin-bottom: 30px; 
}
.signup-box-avatar{
  padding:0px !important;
}

.signup-image{
  text-align:center !important;
  background-color: $grey-dark !important;
  height:99px !important;
  margin:1px !important;
  width:99px !important;
}

.signup-box-avatar-text{
  padding-top:30px !important;
}

#form-signup .signup-genre label{
  background-color: $grey-dark !important;
  height:25px !important;  
  color:$white;
  float:left;
  padding:5px;
  margin-right:15px;
  margin-top:15px;
  padding-left:10px;
  padding-right:10px;
}

#form-signup .signup-genre input[type='checkbox']:checked + label{

    background-color: $orange !important;

}


#form-signup .signup-icon-social{
  width:30px;
  height:30px;
  cursor:pointer;
  float:left;
  margin-left:10px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:left bottom;
}

#form-signup .signup-icon-social-focus{
  width:30px;
  height:30px;
  cursor:pointer;
  float:left;
  margin-left:10px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:left top !important;
}

#form-signup .signup-bottom{
  margin-bottom: 50px;
}

#form-signup .signup-radio input[type='radio'] + label{
  height: 30px;
  width:auto;
  background-image:url(../images/icon/double-icone/check.png);
  background-repeat:no-repeat;
  background-position:left bottom !important;
  line-height:30px;
  margin-right:20px;
  padding:0 0px 0 30px;
}

#form-signup .signup-radio input[type='radio']:checked + label{
  background-position:left top !important;
}

.addComponents{
  cursor:pointer;
}

#form-signup select{
  
  cursor:pointer;
  padding:2px !important;
  color: $grey-light !important;
  background-color:$grey-superdark;
  border: 1px solid $grey-dark;
  height: 30px;
   background: $grey-superdark url(../images/icon/small/other.png) no-repeat right !important;
  -webkit-appearance: none;
  &:focus{
    border: 1px solid $grey-dark;
    background-color:$grey-dark;
    border-bottom: 1px solid $grey;
  }
}


.reveal-modal{
  top:-100px !important; 
}
.location-reveal{
  text-align:right !important;
  position: absolute;
  right:0px;
}


#form-signup .error{
  background-color: inherit !important;
  color: $red !important;
  float:center !important;
  margin-bottom: 0px;
  padding-bottom: 0px;
 // margin-top: 10px !important;   
}

#form-signup small.error{
  float:right !important;
}

.uploadImage_tumbnail-pane {
  width: 99px !important;
  height: 99px !important;
  overflow: hidden;
}


.uploadImage_tumbnail-pane img {
  max-width: none !important;
}


.uploadImage {
  min-height: 400px;  
}


.uploadImage input[type='file'] {
  display: none;
}


.uploadImage .uploadImage_file_label {
  background-color: #ff7505;
  height: 40px;
  padding: 13px;
  padding-left: 40px;
  background-image: url(../images/icon/add.png) !important;
  background-repeat: no-repeat;
  font-size: 14px !important;
  margin-bottom: 50px;
}

.uploadImage-reveal{
  left: 5px !important;
  width: 900px !important;
  background-color: $grey-superdark !important;
}

.uploadImage_preview{
 // width: 800px !important;
}

//---------------- ICON -----------------------------

//------------------ double icon -------------------
._back_page { background-image:url(../images/icon/double-icone/back_page.png); }
._calendar { background-image:url(../images/icon/double-icone/calendar.png); }
._check { background-image:url(../images/icon/double-icone/check.png); }
._compass { background-image:url(../images/icon/double-icone/compass.png); }
._facebook { background-image:url(../images/icon/double-icone/facebook.png); }
._facebook-double { background-image:url(../images/icon/double-icone/facebook-double.png); }
._flag { background-image:url(../images/icon/double-icone/flag.png); }
._friend { background-image:url(../images/icon/double-icone/friend.png); }
._google { background-image:url(../images/icon/double-icone/google.png); }
._google-double { background-image:url(../images/icon/double-icone/google-double.png); }
._message { background-image:url(../images/icon/double-icone/message.png); }
._nextPage { background-image:url(../images/icon/double-icone/nextPage.png); }
._note { background-image:url(../images/icon/double-icone/note.png); }
._note-white { background-image:url(../images/icon/double-icone/note-white.png); }
._notify { background-image:url(../images/icon/double-icone/notify.png); }
._off { background-image:url(../images/icon/double-icone/off.png); }
._pin { background-image:url(../images/icon/double-icone/pin.png); }
._pin-white { background-image:url(../images/icon/double-icone/pin-white.png); }
._play-large { background-image:url(../images/icon/double-icone/play.png); }
._play_white { background-image:url(../images/icon/double-icone/play_white.png); }
._prevPage { background-image:url(../images/icon/double-icone/prevPage.png); }
._setting { background-image:url(../images/icon/double-icone/setting.png); }
._twitter { background-image:url(../images/icon/double-icone/twitter.png); }
._twitter-double { background-image:url(../images/icon/double-icone/twitter-double.png); }
._web { background-image:url(../images/icon/double-icone/web.png); }
._web-double { background-image:url(../images/icon/double-icone/web-double.png); }
._youtube { background-image:url(../images/icon/double-icone/youtube.png); }
._youtube-double { background-image:url(../images/icon/double-icone/youtube-double.png); }
._tag { background-image:url(../images/icon/double-icone/tag.png); }



._add { background-image:url(../images/icon/add.png); }

//--------------------------- button -----------------------------------------
._check-button { background-image:url(../images/icon/button/check.png); }
._note-button { background-image:url(../images/icon/button/note.png); }
._delete-button { background-image:url(../images/icon/button/delete.png); }


//--------------------------- icon music player ------------------------
._back { background-image:url(../images/icon/musicplayer/back.png); }
._pause { background-image:url(../images/icon/musicplayer/pause.png); }
._next { background-image:url(../images/icon/musicplayer/next.png); }
._play { background-image:url(../images/icon/musicplayer/play.png); }

//----------------------- icon small --------------------------------------
._message-small { background-image:url(../images/icon/small/message-small.png); }
._calendar-small { background-image:url(../images/icon/small/calendar-small.png); }
._compass-small { background-image:url(../images/icon/small/compass-small.png); }
._love { background-image:url(../images/icon/small/love.png); }
._unlove { background-image:url(../images/icon/small/unlove.png); }
._comment { background-image:url(../images/icon/small/comment.png); }
._share { background-image:url(../images/icon/small/share.png); }
._review { background-image:url(../images/icon/small/review.png); }
._menu-small { background-image:url(../images/icon/small/menu-small.png); }
._remove-small { background-image:url(../images/icon/small/remove-small.png); }
._star-orange { background-image:url(../images/icon/small/star-orange.png); }
._star-grey { background-image:url(../images/icon/small/star-grey.png); }
._star-orange-big { background-image:url(../images/icon/small/star-orange-big.png); width:20px !important; height:20px !important; display:block !important; float:left !important; }
._star-grey-big { background-image:url(../images/icon/small/star-grey-big.png); width:20px !important; height:20px !important; display:block !important; float:left !important; }
._user-small { background-image:url(../images/icon/small/user-small.png); }

//---------------- icon achievement -----------------------------
._target1 { background-image:url(../images/icon/achievement/target1.png); }
._target2 { background-image:url(../images/icon/achievement/target2.png); }
._target3 { background-image:url(../images/icon/achievement/target3.png); }

//----------------- icon button status -------------------------------
._message_status { background-image:url(../images/icon/status/message.png); }
._follower_status { background-image:url(../images/icon/status/follower.png); }