/path.php
/nbproject/private/
nbproject/project.properties
nbproject/project.xml
/repository.php

# media folders
media/images/image/
media/images/albumcover/
media/images/albumcoverthumb/
media/images/background/
media/images/eventcover/
media/images/eventcoverthumb/
media/images/profilepicture/
media/images/profilepicturethumb/
media/images/recordcover/
media/images/recordcoverthumb/
media/songs/
media/cache/

# foundation
config.rb
.sass-cache/

# aptana
.project
/users/
/loader.php
/tests/optimization/
/optimization/
/debug/
/.gitignore

/.gitignore
