/* line 4, ../sass/headerstyle.scss */
#header {
  width: 100%;
  height: 43px;
  background: #1c1c1c;
}

/* line 10, ../sass/headerstyle.scss */
.header {
  margin-bottom: 5px;
  margin-top: 5px;
  height: 33px;
}

/* line 16, ../sass/headerstyle.scss */
.icon-header {
  width: 33px;
  height: 33px;
  background: #303030;
  float: left;
  margin-right: 3px;
  cursor: pointer;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
}
/* line 25, ../sass/headerstyle.scss */
.icon-header:hover {
  background-color: #232323;
}

/* line 30, ../sass/headerstyle.scss */
#header-profile {
  background-color: #303030 !important;
}

/* line 34, ../sass/headerstyle.scss */
#header-social {
  background-color: #f3f3f3 !important;
}

/*----- PLAYER -----*/
/* line 42, ../sass/headerstyle.scss */
.title-player {
  font-size: 14px;
  color: #f3f3f3;
  padding-bottom: 8px;
}

/* line 49, ../sass/headerstyle.scss */
.inline {
  float: left;
}

/* line 56, ../sass/headerstyle.scss */
#bar-player {
  width: 157px;
  height: 5px;
  background-color: #303030;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  z-index: 1;
}

/* line 66, ../sass/headerstyle.scss */
#playhead-player {
  position: absolute;
  height: 10px;
  width: 3px;
  background-color: #ff7505 !important;
  left: 154px;
  cursor: pointer;
  z-index: 3;
}

/* line 76, ../sass/headerstyle.scss */
#statusbar-player {
  position: absolute;
  width: 44px;
  height: 5px;
  background-color: #787878 !important;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  z-index: 2;
}

/* line 87, ../sass/headerstyle.scss */
.icon-player {
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 3px;
  cursor: pointer;
  margin-left: 5px;
  -webkit-transition-property: background-position;
  -moz-transition-property: background-position;
  -o-transition-property: background-position;
  transition-property: background-position;
}
/* line 95, ../sass/headerstyle.scss */
.icon-player:hover {
  background-position: bottom;
}

/*----- END PLAYER -----*/
/* line 103, ../sass/headerstyle.scss */
#logo {
  position: relative;
  z-index: 998;
  margin-top: -45px;
}

/* line 111, ../sass/headerstyle.scss */
.logo {
  height: 5px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  top: -10px !important;
}

/* line 124, ../sass/headerstyle.scss */
.search_form {
  width: 235px !important;
  margin: 0px !important;
}

/* line 129, ../sass/headerstyle.scss */
.search {
  color: #787878 !important;
  font-size: 14px !important;
  width: 235px;
  padding: 6px 15px 6px 30px !important;
  border: #232323 1px solid !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #1c1c1c !important;
  background: url(../images/icon/search.png) no-repeat 8px 6px !important;
}

/* line 140, ../sass/headerstyle.scss */
.search-small {
  color: #787878 !important;
  font-size: 14px !important;
  width: 150px !important;
  padding: 6px 15px 6px 30px !important;
  border: #232323 1px solid !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #1c1c1c !important;
  background: url(../images/icon/search.png) no-repeat 8px 6px !important;
}

/* line 152, ../sass/headerstyle.scss */
._menu {
  background-image: url(../images/icon/menu.png);
}

/* line 155, ../sass/headerstyle.scss */
#header-btn-notify {
  padding: 0px;
  float: right;
}

/* line 162, ../sass/headerstyle.scss */
#add {
  position: absolute;
  right: 11px;
  top: 43px;
  z-index: 3;
  width: 240px;
  -webkit-box-shadow: 0px 12px 8px -8px #303030;
  -moz-box-shadow: 0px 12px 8px -8px #303030;
  box-shadow: 0px 12px 8px -8px #303030;
}

/* line 169, ../sass/headerstyle.scss */
.add-btn {
  cursor: pointer;
  background-color: #ff7505;
  width: 100%;
  padding: 15px 5px;
  color: white;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #eb6900;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
/* line 180, ../sass/headerstyle.scss */
.add-btn:hover {
  background-color: #eb6900;
}
