/* line 6, ../../../sass/profilestyle.scss */
#profile {
  padding-top: 30px;
  background-color: #303030;
}

/* line 11, ../../../sass/profilestyle.scss */
.avatar {
  border: 1px solid #787878;
  margin-top: 5px !important;
  margin-bottom: 40px;
  width: 470px;
  height: 470px;
}

/* line 19, ../../../sass/profilestyle.scss */
section.active > .title a {
  color: #f3f3f3 !important;
}

/* line 23, ../../../sass/profilestyle.scss */
.picture {
  position: absolute;
  height: 150px;
  width: 150px;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: -75px;
  z-index: 3;
}

/* line 31, ../../../sass/profilestyle.scss */
.section-container .title {
  font-size: 17px;
  border-bottom: 1px solid #303030;
}

/* line 36, ../../../sass/profilestyle.scss */
.section-container {
  margin-bottom: 40px !important;
}

/* line 40, ../../../sass/profilestyle.scss */
.box-membre {
  padding: 10px;
  margin-bottom: 10px;
  width: auto;
  height: 64px;
  background-color: #1c1c1c;
  cursor: pointer;
}

/* line 49, ../../../sass/profilestyle.scss */
.box {
  background-color: #232323;
  padding: 20px !important;
  padding-bottom: 0px !important;
  margin-bottom: 40px;
}

/* line 58, ../../../sass/profilestyle.scss */
#event .sottotitle {
  margin-bottom: 10px;
}
/* line 61, ../../../sass/profilestyle.scss */
#event .ico-label {
  margin-bottom: -10px !important;
}
/* line 65, ../../../sass/profilestyle.scss */
#event .box-single-event {
  cursor: pointer !important;
}

/* line 70, ../../../sass/profilestyle.scss */
.box-singleAlbum {
  padding-top: 10px !important;
}

/* line 74, ../../../sass/profilestyle.scss */
.box-album {
  padding-bottom: 5px !important;
  cursor: pointer;
}
/* line 77, ../../../sass/profilestyle.scss */
.box-album .columns {
  padding-left: 5px !important;
  padding-bottom: 0px !important;
}

/* line 83, ../../../sass/profilestyle.scss */
.box-album .play_now {
  background-color: #787878 !important;
  width: 100px;
  height: 33px;
}
/* line 87, ../../../sass/profilestyle.scss */
.box-album .play_now:hover {
  background-color: #ff7505 !important;
}

/* line 92, ../../../sass/profilestyle.scss */
.box#albumcover-single {
  padding: 10px !important;
}

/* line 96, ../../../sass/profilestyle.scss */
.box#album-single {
  padding: 10px !important;
}

/* line 100, ../../../sass/profilestyle.scss */
.album {
  padding-top: 10px;
}
/* line 102, ../../../sass/profilestyle.scss */
.album .sottotitle, .album .text, .album .note {
  padding-bottom: 20px;
}

/* line 107, ../../../sass/profilestyle.scss */
.album-thumb {
  width: 110px;
  height: 110px;
}

/* line 112, ../../../sass/profilestyle.scss */
.album-select {
  cursor: pointer;
}

/* line 116, ../../../sass/profilestyle.scss */
.track {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #303030 !important;
}
/* line 120, ../../../sass/profilestyle.scss */
.track:hover {
  background-color: #1c1c1c;
}

/* line 125, ../../../sass/profilestyle.scss */
.userThumb {
  width: 45px;
  height: 45px;
}

/* line 132, ../../../sass/profilestyle.scss */
.track:hover .track-propriety {
  display: block !important;
}

/* line 138, ../../../sass/profilestyle.scss */
.track ._play-large:hover {
  color: #f3f3f3 !important;
}

/* line 142, ../../../sass/profilestyle.scss */
.track-propriety {
  padding: 2px;
  display: none;
}

/* line 147, ../../../sass/profilestyle.scss */
.album-other {
  cursor: pointer;
  text-align: right;
  padding: 10px;
  height: 40px;
  background: url(../images/icon/small/other.png);
  background-repeat: no-repeat;
  background-position: Center;
}

/* line 157, ../../../sass/profilestyle.scss */
.album-single-propriety {
  border-top: 1px solid #303030 !important;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 163, ../../../sass/profilestyle.scss */
.propriety {
  padding-right: 5px;
  text-align: right;
}

/* line 168, ../../../sass/profilestyle.scss */
.icon-propriety {
  width: auto;
  height: 15px;
  font-size: 11px;
  color: #787878;
  line-height: 15px;
  margin-right: 1px;
  padding: 0 0px 0 15px;
  cursor: pointer;
  background-repeat: no-repeat;
}
/* line 179, ../../../sass/profilestyle.scss */
.icon-propriety:hover {
  color: #787878;
}

/* line 184, ../../../sass/profilestyle.scss */
.content #map_venue {
  width: 100% !important;
  height: 300px !important;
  margin-bottom: 10px;
}

/* line 191, ../../../sass/profilestyle.scss */
#record.royalSlider {
  width: auto !important;
}
/* line 194, ../../../sass/profilestyle.scss */
#record.royalSlider .rsContent {
  background-color: #232323 !important;
}

/* line 202, ../../../sass/profilestyle.scss */
#recordReviewSlide.royalSlider {
  width: auto !important;
}
/* line 205, ../../../sass/profilestyle.scss */
#recordReviewSlide.royalSlider .rsContent {
  background: #fff !important;
}

/* line 211, ../../../sass/profilestyle.scss */
#eventReviewSlide.royalSlider {
  width: auto !important;
}
/* line 214, ../../../sass/profilestyle.scss */
#eventReviewSlide.royalSlider .rsContent {
  background: #fff !important;
}

/* line 222, ../../../sass/profilestyle.scss */
#albumSlide.royalSlider {
  width: auto !important;
  background: #232323 !important;
}
/* line 225, ../../../sass/profilestyle.scss */
#albumSlide.royalSlider .rsContent {
  background: #232323 !important;
}

/* line 232, ../../../sass/profilestyle.scss */
.albumcover-list {
  padding-bottom: 10px !important;
}

/* line 235, ../../../sass/profilestyle.scss */
#albumSlide.box {
  padding: 5px 5px 5px 5px !important;
}
/* line 237, ../../../sass/profilestyle.scss */
#albumSlide.box .box-coveralbum {
  cursor: pointer;
}

/* line 242, ../../../sass/profilestyle.scss */
.albumcover {
  width: 310px;
  height: 160px;
  padding-bottom: 10px !important;
}

/* line 249, ../../../sass/profilestyle.scss */
.box-coveralbum {
  padding: 10px !important;
  border: 1px solid #303030 !important;
}

/* line 255, ../../../sass/profilestyle.scss */
#albumcover-single .large-block-grid-3 {
  padding-top: 10px !important;
}

/* line 259, ../../../sass/profilestyle.scss */
#albumcover-single [data-clearing] li {
  margin-right: 0px !important;
}

/* line 263, ../../../sass/profilestyle.scss */
.photo {
  cursor: pointer;
}

/* line 268, ../../../sass/profilestyle.scss */
.lightbox-photo .lightbox-photo-box {
  background-color: #232323 !important;
  border: 1px solid #787878;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

/* line 283, ../../../sass/profilestyle.scss */
#colorbox {
  top: 0px !important;
}

/* line 288, ../../../sass/profilestyle.scss */
#cboxLoadedContent {
  border: 0px solid #000 !important;
  width: 540px !important;
  margin-left: 30px !important;
}

/* line 293, ../../../sass/profilestyle.scss */
#cboxContent {
  background: none !important;
  margin-top: 25px !important;
}

/* line 298, ../../../sass/profilestyle.scss */
#cboxCurrent {
  right: 35px !important;
  font-size: 14px !important;
}

/* line 303, ../../../sass/profilestyle.scss */
#cboxNext {
  box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
}

/* line 307, ../../../sass/profilestyle.scss */
#cboxPrevious {
  box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
}

/* line 311, ../../../sass/profilestyle.scss */
#cboxClose {
  top: -18px !important;
  box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
  right: 0px !important;
}

/* line 319, ../../../sass/profilestyle.scss */
#cboxLoadedContent {
  background: none !important;
}

/* line 323, ../../../sass/profilestyle.scss */
.event {
  padding: 0px !important;
  padding-right: 5px !important;
}

/* line 328, ../../../sass/profilestyle.scss */
.eventcover {
  height: 130px;
  width: 130px;
}

/* line 333, ../../../sass/profilestyle.scss */
#albumcover-single .reveal-modal {
  height: 100%;
  width: 100%;
}

/* line 337, ../../../sass/profilestyle.scss */
#event.royalSlider {
  width: auto !important;
  height: 550px !important;
}
/* line 340, ../../../sass/profilestyle.scss */
#event.royalSlider .rsContent {
  background-color: #232323 !important;
}

/* line 346, ../../../sass/profilestyle.scss */
#box-event .box {
  padding: 10px !important;
}
/* line 348, ../../../sass/profilestyle.scss */
#box-event .box .propriety {
  padding-right: 20px !important;
  padding-left: 0px !important;
}

/* line 356, ../../../sass/profilestyle.scss */
#social {
  padding-top: 65px;
  background-color: #f3f3f3;
}

/* line 362, ../../../sass/profilestyle.scss */
.status {
  text-align: right;
}

/* line 366, ../../../sass/profilestyle.scss */
.livel-status {
  font-weight: 700;
  margin-bottom: 4px !important;
}

/* line 371, ../../../sass/profilestyle.scss */
.coverThumb {
  height: 60px;
  width: 60px;
}

/* line 376, ../../../sass/profilestyle.scss */
#social #recordReview .box {
  padding: 10px 10px 0px 10px !important;
}

/* line 379, ../../../sass/profilestyle.scss */
#social #eventReview .box {
  padding: 10px 10px 0px 10px !important;
}

/* line 382, ../../../sass/profilestyle.scss */
.touchcarousel {
  width: auto !important;
  height: auto !important;
}

/* line 387, ../../../sass/profilestyle.scss */
.textAlbumReview {
  margin-top: 10px;
}

/* line 390, ../../../sass/profilestyle.scss */
.textEventReview {
  margin-top: 10px;
}

/* line 394, ../../../sass/profilestyle.scss */
#social_list_achievement .arrow-holder {
  height: 250px;
}

/* line 397, ../../../sass/profilestyle.scss */
#social_list_achievement {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

/* line 401, ../../../sass/profilestyle.scss */
.arrow-holder {
  height: 60px !important;
}

/* line 407, ../../../sass/profilestyle.scss */
.achievement {
  margin: 10px;
  height: 40px;
  width: 40px;
  float: left;
  border: #d8d8d8 1px solid;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border-radius: 1000px;
}

/* line 416, ../../../sass/profilestyle.scss */
.achievement-target {
  margin: 10px;
  border: #ff7505 3px solid;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-transition-property: background-position, color;
  -moz-transition-property: background-position, color;
  -o-transition-property: background-position, color;
  transition-property: background-position, color;
}
/* line 424, ../../../sass/profilestyle.scss */
.achievement-target:hover {
  background-color: #ff7505;
  background-position: left bottom;
}

/* line 431, ../../../sass/profilestyle.scss */
.status-button {
  text-align: right;
  height: 35px;
  margin-bottom: 40px;
}

/* line 438, ../../../sass/profilestyle.scss */
.button {
  height: 35px !important;
  border: 0px !important;
  padding-top: 10px !important;
}

/* line 444, ../../../sass/profilestyle.scss */
.bg-orange {
  background-color: #ff7505 !important;
}
/* line 446, ../../../sass/profilestyle.scss */
.bg-orange:hover {
  background-color: #c95600 !important;
}

/* line 451, ../../../sass/profilestyle.scss */
.bg-grey {
  background-color: #787878 !important;
}
/* line 453, ../../../sass/profilestyle.scss */
.bg-grey:hover {
  background-color: #303030 !important;
}

/* line 458, ../../../sass/profilestyle.scss */
.icon-button {
  width: auto;
  height: 20px;
  font-size: 14px;
  color: #f3f3f3;
  line-height: 20px;
  margin-right: 1px;
  padding: 0 0px 0 22px;
  cursor: pointer;
  background-repeat: no-repeat;
}

/* line 470, ../../../sass/profilestyle.scss */
#social .box {
  border: #d8d8d8 1px solid;
  background-color: #fff !important;
}

/* line 475, ../../../sass/profilestyle.scss */
#social .text {
  margin-bottom: 10px;
}

/* line 479, ../../../sass/profilestyle.scss */
#social .album-thumb {
  width: 90px;
  height: 80px;
  margin-right: 0px;
}

/* line 484, ../../../sass/profilestyle.scss */
.box-info {
  padding-left: 0px !important;
}

/* line 488, ../../../sass/profilestyle.scss */
#social .line {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 5px !important;
}

/* line 493, ../../../sass/profilestyle.scss */
#activities .small-block-grid-4 {
  padding-top: 10px;
}

/* line 497, ../../../sass/profilestyle.scss */
#social .box-membre {
  height: 55px;
  background-color: #f3f3f3;
}

/* line 504, ../../../sass/profilestyle.scss */
.box-post {
  border: 1px solid #d8d8d8;
  padding: 5px;
}

/* line 509, ../../../sass/profilestyle.scss */
.post {
  color: #787878 !important;
  font-size: 14px !important;
  padding: 6px 15px 6px 30px !important;
  border: #fff 0px solid !important;
  background-color: #fff !important;
  background: url(../images/icon/write.png) no-repeat 8px 6px !important;
}

/* line 518, ../../../sass/profilestyle.scss */
.box-write {
  background-color: #fff !important;
  padding: 5px !important;
  border: #d8d8d8 1px solid !important;
  height: 45px;
}

/* line 525, ../../../sass/profilestyle.scss */
.post-button {
  color: #fff;
  background: #ff7505 !important;
  border: #fff 0px solid !important;
  height: 34px !important;
  width: 90px !important;
}

/* line 533, ../../../sass/profilestyle.scss */
.comment-button {
  color: #fff;
  background: #787878 !important;
  border: #fff 0px solid !important;
  height: 34px !important;
  width: 90px !important;
}

/* line 544, ../../../sass/profilestyle.scss */
.box-comment {
  padding: 5px !important;
  padding-bottom: 1px !important;
  background: #d8d8d8 !important;
  margin-bottom: 50px;
}
/* line 549, ../../../sass/profilestyle.scss */
.box-comment .box-write {
  margin-bottom: 5px !important;
}
/* line 552, ../../../sass/profilestyle.scss */
.box-comment .line {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 5px !important;
}
/* line 556, ../../../sass/profilestyle.scss */
.box-comment .text {
  margin-bottom: 10px;
}

/* line 562, ../../../sass/profilestyle.scss */
.box-singole-comment {
  padding: 10px !important;
  padding-bottom: 1px !important;
  background: #fff !important;
  margin-bottom: 5px;
}
