/* line 6, ../../../sass/profilestyle.scss */
#scroll-profile .mCSB_container {
  margin-right: 0px !important;
}

/* line 10, ../../../sass/profilestyle.scss */
#scroll-profile .mCSB_scrollTools .mCSB_draggerContainer {
  margin-top: 118px !important;
  margin-bottom: 50px !important;
}

/* line 15, ../../../sass/profilestyle.scss */
#scroll-profile .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #222 !important;
  width: 8px !important;
}

/* line 20, ../../../sass/profilestyle.scss */
#scroll-profile .mCSB_scrollTools .mCSB_draggerRail {
  background: none !important;
}

/* line 25, ../../../sass/profilestyle.scss */
#scroll-profile .mCSB_container {
  margin-right: 10px !important;
}

/* line 28, ../../../sass/profilestyle.scss */
#scroll-social .mCSB_scrollTools .mCSB_draggerContainer {
  margin-top: 118px !important;
  margin-bottom: 50px !important;
}

/* line 33, ../../../sass/profilestyle.scss */
#scroll-social .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #CCC !important;
  width: 8px !important;
}

/* line 38, ../../../sass/profilestyle.scss */
#scroll-social .mCSB_scrollTools .mCSB_draggerRail {
  background: none !important;
}

/* line 43, ../../../sass/profilestyle.scss */
#cboxLoadedContent .mCSB_container {
  margin-right: 12px !important;
}

/* line 46, ../../../sass/profilestyle.scss */
#cboxLoadedContent .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #787878 !important;
  width: 8px !important;
}

/* line 52, ../../../sass/profilestyle.scss */
#cboxLoadedContent .mCSB_scrollTools .mCSB_draggerRail {
  background: none !important;
}

/* line 58, ../../../sass/profilestyle.scss */
.breakOff {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

/* line 63, ../../../sass/profilestyle.scss */
.breakOffTest {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}

/* line 70, ../../../sass/profilestyle.scss */
.spinner {
  position: relative !important;
  margin: 5px !important;
  left: 50% !important;
}

/* line 76, ../../../sass/profilestyle.scss */
.box-spinner {
  position: relative;
  height: 50px;
}

/* line 81, ../../../sass/profilestyle.scss */
#ascrail2002 div {
  cursor: pointer !important;
}

/* line 85, ../../../sass/profilestyle.scss */
#profile {
  padding-top: 30px;
  background-color: #303030;
}

/* line 90, ../../../sass/profilestyle.scss */
.background {
  border: 1px solid #787878;
  margin-top: 5px !important;
  margin-bottom: 40px;
  width: 470px;
  height: 470px;
}

/* line 98, ../../../sass/profilestyle.scss */
section.active > .title a {
  color: #f3f3f3 !important;
}

/* line 102, ../../../sass/profilestyle.scss */
.picture {
  position: absolute;
  height: 150px;
  width: 150px;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: -75px;
  z-index: 3;
}

/* line 111, ../../../sass/profilestyle.scss */
.section-container .title {
  font-size: 17px;
  border-bottom: 1px solid #303030;
}

/* line 116, ../../../sass/profilestyle.scss */
.section-container {
  margin-bottom: 40px !important;
}

/* line 123, ../../../sass/profilestyle.scss */
.box {
  background-color: #232323;
  padding: 20px !important;
  padding-bottom: 0px !important;
  margin-bottom: 40px;
}

/* line 131, ../../../sass/profilestyle.scss */
.box-element {
  border: 1px solid #303030;
  margin-bottom: 5px !important;
  padding: 5px !important;
  cursor: pointer !important;
}
/* line 136, ../../../sass/profilestyle.scss */
.box-element .sottotitle {
  margin-bottom: 10px;
}
/* line 139, ../../../sass/profilestyle.scss */
.box-element .ico-label {
  margin-bottom: -10px !important;
}

/* line 146, ../../../sass/profilestyle.scss */
.box-singleAlbum {
  padding-top: 10px !important;
}

/* line 152, ../../../sass/profilestyle.scss */
.box#albumcover-single {
  padding: 10px !important;
}

/* line 156, ../../../sass/profilestyle.scss */
.box#album-single {
  padding: 10px !important;
}

/* line 163, ../../../sass/profilestyle.scss */
.box-membre {
  padding: 10px;
  margin-bottom: 10px;
  width: auto;
  height: 64px;
  background-color: #1c1c1c;
  cursor: pointer;
}

/* line 173, ../../../sass/profilestyle.scss */
.royalSlider.rsDefault {
  background: none !important;
}

/* line 176, ../../../sass/profilestyle.scss */
.rsDefault .rsOverflow {
  background: none !important;
}

/* line 180, ../../../sass/profilestyle.scss */
.album-other {
  cursor: pointer;
  text-align: right;
  padding: 10px;
  height: 40px;
  background: url(../images/icon/small/other.png);
  background-repeat: no-repeat;
  background-position: Center;
}

/* line 190, ../../../sass/profilestyle.scss */
.album-single-propriety {
  border-top: 1px solid #303030 !important;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 196, ../../../sass/profilestyle.scss */
.propriety {
  padding-right: 5px;
  text-align: right;
}

/* line 201, ../../../sass/profilestyle.scss */
.icon-propriety {
  width: auto;
  height: 15px;
  font-size: 11px;
  color: #787878;
  line-height: 15px;
  margin-right: 1px;
  padding: 0 0px 0 15px;
  cursor: pointer;
  background-repeat: no-repeat;
}
/* line 212, ../../../sass/profilestyle.scss */
.icon-propriety:hover {
  color: #787878;
}

/* line 217, ../../../sass/profilestyle.scss */
.content #map_venue {
  width: 100% !important;
  height: 300px !important;
  margin-bottom: 10px;
}

/* line 225, ../../../sass/profilestyle.scss */
#colorbox {
  top: 0px !important;
  position: absolute !important;
  top: 50% !important;
  margin-top: -310px !important;
}

/* line 233, ../../../sass/profilestyle.scss */
#cboxContent {
  background: none !important;
  margin-top: 25px !important;
}

/* line 238, ../../../sass/profilestyle.scss */
#cboxCurrent {
  right: 35px !important;
  font-size: 14px !important;
}

/* line 243, ../../../sass/profilestyle.scss */
#cboxNext {
  box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
}

/* line 247, ../../../sass/profilestyle.scss */
#cboxPrevious {
  box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
  left: 0px !important;
}

/* line 252, ../../../sass/profilestyle.scss */
#cboxClose {
  top: -18px !important;
  box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
  right: 0px !important;
}

/* line 263, ../../../sass/profilestyle.scss */
#albumSlide.royalSlider {
  width: auto !important;
  background: #232323 !important;
}
/* line 266, ../../../sass/profilestyle.scss */
#albumSlide.royalSlider .rsContent {
  background: #232323 !important;
}

/* line 273, ../../../sass/profilestyle.scss */
.albumcover-list {
  padding-bottom: 10px !important;
}

/* line 276, ../../../sass/profilestyle.scss */
#albumSlide.box {
  padding: 5px 5px 5px 5px !important;
}
/* line 278, ../../../sass/profilestyle.scss */
#albumSlide.box .box-coveralbum {
  cursor: pointer;
}

/* line 283, ../../../sass/profilestyle.scss */
.albumcover {
  width: 310px;
  height: 160px;
  padding-bottom: 10px !important;
}

/* line 290, ../../../sass/profilestyle.scss */
.box-coveralbum {
  padding: 10px !important;
  border: 1px solid #303030 !important;
}

/* line 296, ../../../sass/profilestyle.scss */
#albumcover-single .large-block-grid-3 {
  padding-top: 10px !important;
}

/* line 300, ../../../sass/profilestyle.scss */
#albumcover-single [data-clearing] li {
  margin-right: 0px !important;
}

/* line 304, ../../../sass/profilestyle.scss */
.photo {
  cursor: pointer;
}

/* line 308, ../../../sass/profilestyle.scss */
.lightbox-photo {
  height: 100% !important;
}
/* line 310, ../../../sass/profilestyle.scss */
.lightbox-photo .lightbox-photo-box {
  background-color: #232323 !important;
  border: 1px solid #787878;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  height: 100% !important;
}
/* line 318, ../../../sass/profilestyle.scss */
.lightbox-photo .lightbox-photo-box .album-photo {
  width: auto !important;
  max-height: 430px !important;
}
/* line 323, ../../../sass/profilestyle.scss */
.lightbox-photo .lightbox-photo-box .box-comment {
  margin-bottom: 5px;
}
/* line 326, ../../../sass/profilestyle.scss */
.lightbox-photo .lightbox-photo-box .album-photo-box {
  text-align: center;
  height: 450px !important;
  cursor: pointer;
}

/* line 335, ../../../sass/profilestyle.scss */
#cboxLoadedContent {
  width: auto !important;
  padding-right: 8px !important;
  margin-right: 30px !important;
  margin-left: 30px !important;
  background: none !important;
  border: 0px solid #000 !important;
}

/* line 346, ../../../sass/profilestyle.scss */
#profile-Record .box {
  padding: 5px !important;
}
/* line 348, ../../../sass/profilestyle.scss */
#profile-Record .box .propriety {
  padding-right: 15px !important;
}

/* line 353, ../../../sass/profilestyle.scss */
#recordSlide.royalSlider {
  width: auto !important;
}
/* line 355, ../../../sass/profilestyle.scss */
#recordSlide.royalSlider .rsContent {
  background-color: #232323 !important;
}

/* line 360, ../../../sass/profilestyle.scss */
#record-list .play_now {
  background-color: #787878 !important;
  width: 100px;
  height: 33px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 366, ../../../sass/profilestyle.scss */
#record-list .play_now:hover {
  background-color: #ff7505 !important;
}

/* line 371, ../../../sass/profilestyle.scss */
#profile-Record .box-info-element {
  border-top: 1px solid #303030 !important;
  margin-bottom: 5px !important;
  padding: 5px !important;
  cursor: pointer !important;
}
/* line 376, ../../../sass/profilestyle.scss */
#profile-Record .box-info-element .sottotitle {
  margin-bottom: 10px;
}
/* line 379, ../../../sass/profilestyle.scss */
#profile-Record .box-info-element .ico-label {
  margin-bottom: -10px !important;
}

/* line 385, ../../../sass/profilestyle.scss */
.album-thumb {
  width: 110px;
  height: 110px;
}

/* line 390, ../../../sass/profilestyle.scss */
.album-select {
  cursor: pointer;
}

/* line 394, ../../../sass/profilestyle.scss */
#profile-Record .track {
  padding-top: 5px;
  border-top: 1px solid #303030 !important;
}
/* line 397, ../../../sass/profilestyle.scss */
#profile-Record .track ._play-large {
  margin-bottom: 5px !important;
}
/* line 400, ../../../sass/profilestyle.scss */
#profile-Record .track:hover {
  background-color: #1c1c1c;
  border-top: 2px solid #ff7505 !important;
}

/* line 406, ../../../sass/profilestyle.scss */
.userThumb {
  width: 45px;
  height: 45px;
}

/* line 413, ../../../sass/profilestyle.scss */
.track:hover .track-propriety {
  display: block !important;
}
/* line 416, ../../../sass/profilestyle.scss */
.track:hover .track-nopropriety {
  display: none !important;
}

/* line 422, ../../../sass/profilestyle.scss */
.track ._play-large:hover {
  color: #f3f3f3 !important;
}

/* line 426, ../../../sass/profilestyle.scss */
.track-propriety {
  padding: 2px;
  display: none;
}

/* line 432, ../../../sass/profilestyle.scss */
.event {
  padding: 0px !important;
  padding-right: 5px !important;
}

/* line 437, ../../../sass/profilestyle.scss */
.eventcover {
  height: 130px;
  width: 130px;
  padding-bottom: 5px !important;
}

/* line 443, ../../../sass/profilestyle.scss */
#albumcover-single .reveal-modal {
  height: 100%;
  width: 100%;
}

/* line 448, ../../../sass/profilestyle.scss */
#eventSlide.royalSlider {
  width: auto !important;
  height: auto !important;
}
/* line 451, ../../../sass/profilestyle.scss */
#eventSlide.royalSlider .rsContent {
  background-color: #232323 !important;
}

/* line 457, ../../../sass/profilestyle.scss */
#profile-Event .box {
  padding: 5px !important;
}
/* line 459, ../../../sass/profilestyle.scss */
#profile-Event .box .propriety {
  padding-right: 20px !important;
  padding-left: 0px !important;
}

/* line 469, ../../../sass/profilestyle.scss */
#social {
  padding-top: 65px;
  background-color: #f3f3f3;
}

/* line 475, ../../../sass/profilestyle.scss */
.status {
  text-align: right;
}

/* line 479, ../../../sass/profilestyle.scss */
.livel-status {
  font-weight: 700;
  margin-bottom: 4px !important;
}

/* line 484, ../../../sass/profilestyle.scss */
.coverThumb {
  height: 60px;
  width: 60px;
}

/* line 489, ../../../sass/profilestyle.scss */
#social #RecordReview .box {
  padding: 10px 10px 0px 10px !important;
}

/* line 492, ../../../sass/profilestyle.scss */
#social #eventReview .box {
  padding: 10px 10px 0px 10px !important;
}

/* line 495, ../../../sass/profilestyle.scss */
.touchcarousel {
  width: auto !important;
  height: auto !important;
}

/* line 500, ../../../sass/profilestyle.scss */
.textReview {
  margin-top: 10px;
}

/* line 503, ../../../sass/profilestyle.scss */
.textEventReview {
  margin-top: 10px;
}

/* line 507, ../../../sass/profilestyle.scss */
#social_list_achievement .arrow-holder {
  height: 250px;
}

/* line 510, ../../../sass/profilestyle.scss */
#social_list_achievement {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

/* line 514, ../../../sass/profilestyle.scss */
.arrow-holder {
  height: 60px !important;
}

/* line 518, ../../../sass/profilestyle.scss */
.recordReview-propriety {
  padding-bottom: 5px !important;
}

/* line 522, ../../../sass/profilestyle.scss */
#social-EventReview .box {
  padding-bottom: 5px !important;
}

/* line 526, ../../../sass/profilestyle.scss */
#social-RecordReview .box {
  padding-bottom: 5px !important;
}

/* line 530, ../../../sass/profilestyle.scss */
.achievement {
  margin: 10px;
  height: 40px;
  width: 40px;
  float: left;
  border: #d8d8d8 1px solid;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border-radius: 1000px;
}

/* line 539, ../../../sass/profilestyle.scss */
.achievement-target {
  margin: 10px;
  border: #ff7505 3px solid;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-transition-property: background-position, color;
  -moz-transition-property: background-position, color;
  -o-transition-property: background-position, color;
  transition-property: background-position, color;
}
/* line 547, ../../../sass/profilestyle.scss */
.achievement-target:hover {
  background-color: #ff7505;
  background-position: left bottom;
}

/* line 554, ../../../sass/profilestyle.scss */
.status-button {
  text-align: right;
  height: 35px;
  margin-bottom: 40px;
}

/* line 561, ../../../sass/profilestyle.scss */
.button {
  height: 35px !important;
  border: 0px !important;
  padding-top: 10px !important;
}

/* line 567, ../../../sass/profilestyle.scss */
.bg-orange {
  background-color: #ff7505 !important;
}
/* line 569, ../../../sass/profilestyle.scss */
.bg-orange:hover {
  background-color: #c95600 !important;
}

/* line 574, ../../../sass/profilestyle.scss */
.bg-grey {
  background-color: #787878 !important;
}
/* line 576, ../../../sass/profilestyle.scss */
.bg-grey:hover {
  background-color: #303030 !important;
}

/* line 581, ../../../sass/profilestyle.scss */
.icon-button {
  width: auto;
  height: 20px;
  font-size: 14px;
  color: #f3f3f3;
  line-height: 20px;
  margin-right: 1px;
  padding: 0 0px 0 22px;
  cursor: pointer;
  background-repeat: no-repeat;
}

/* line 593, ../../../sass/profilestyle.scss */
#social .box {
  border: #d8d8d8 1px solid;
  background-color: #fff !important;
  padding-bottom: 5px !important;
}

/* line 599, ../../../sass/profilestyle.scss */
#social .text {
  margin-bottom: 10px;
}

/* line 603, ../../../sass/profilestyle.scss */
#social .album-thumb {
  width: 90px;
  height: 80px;
  margin-right: 0px;
}

/* line 608, ../../../sass/profilestyle.scss */
.box-info {
  padding-left: 0px !important;
}

/* line 612, ../../../sass/profilestyle.scss */
#social .line {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 5px !important;
}

/* line 617, ../../../sass/profilestyle.scss */
#activities .small-block-grid-4 {
  padding-top: 10px;
}

/* line 621, ../../../sass/profilestyle.scss */
#social .box-membre {
  height: 55px;
  background-color: #f3f3f3;
}

/* line 628, ../../../sass/profilestyle.scss */
#recordReviewSlide.royalSlider {
  width: auto !important;
}
/* line 631, ../../../sass/profilestyle.scss */
#recordReviewSlide.royalSlider .rsContent {
  background: #fff !important;
}

/* line 637, ../../../sass/profilestyle.scss */
#eventReviewSlide.royalSlider {
  width: auto !important;
}
/* line 640, ../../../sass/profilestyle.scss */
#eventReviewSlide.royalSlider .rsContent {
  background: #fff !important;
}

/* line 650, ../../../sass/profilestyle.scss */
#social-Post .box {
  margin-bottom: 10px;
}

/* line 654, ../../../sass/profilestyle.scss */
.box-post {
  border: 1px solid #d8d8d8;
  padding: 5px;
}

/* line 659, ../../../sass/profilestyle.scss */
.post {
  color: #787878 !important;
  font-size: 14px !important;
  padding: 6px 15px 6px 30px !important;
  border: #fff 0px solid !important;
  background-color: #fff !important;
  background: url(../images/icon/write.png) no-repeat 8px 6px !important;
}

/* line 668, ../../../sass/profilestyle.scss */
.box-write {
  background-color: #fff !important;
  padding: 5px !important;
  border: #d8d8d8 1px solid !important;
  height: 45px;
}

/* line 675, ../../../sass/profilestyle.scss */
.post-button {
  color: #fff;
  background: #ff7505 !important;
  border: #fff 0px solid !important;
  height: 34px !important;
  width: 90px !important;
}

/* line 683, ../../../sass/profilestyle.scss */
.comment-button {
  color: #fff;
  background: #787878 !important;
  border: #fff 0px solid !important;
  height: 34px !important;
  width: 90px !important;
}

/* line 696, ../../../sass/profilestyle.scss */
.box-comment {
  padding: 5px !important;
  padding-bottom: 1px !important;
  background: #d8d8d8 !important;
  margin-bottom: 50px;
}
/* line 701, ../../../sass/profilestyle.scss */
.box-comment .box-write {
  margin-bottom: 5px !important;
}
/* line 704, ../../../sass/profilestyle.scss */
.box-comment .line {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 5px !important;
}
/* line 708, ../../../sass/profilestyle.scss */
.box-comment .text {
  margin-bottom: 10px;
}

/* line 714, ../../../sass/profilestyle.scss */
.box-singole-comment {
  padding: 10px !important;
  padding-bottom: 1px !important;
  background: #fff !important;
  margin-bottom: 5px;
}

/* line 721, ../../../sass/profilestyle.scss */
.box-commentSpace {
  margin-bottom: 0px !important;
}
