/* classi generiche */
/* line 6, ../sass/style.scss */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 10, ../sass/style.scss */
.no-display {
  display: none;
}

/* line 11, ../sass/style.scss */
.inline-display {
  display: inline;
}

/* line 29, ../sass/style.scss */
body h2 {
  color: #f3f3f3;
  margin-bottom: 0px;
}
/* line 30, ../sass/style.scss */
body h3 {
  color: #787878;
  margin-bottom: 5px;
}

/* line 34, ../sass/style.scss */
.sottotitle {
  font-size: 17px !important;
}

/* line 38, ../sass/style.scss */
.text {
  font-size: 14px !important;
}

/* line 42, ../sass/style.scss */
label.text {
  font-weight: normal !important;
  margin-bottom: 5px !important;
}

/* line 47, ../sass/style.scss */
.line {
  border-bottom: 1px solid #787878;
  margin-bottom: 5px !important;
}

/* line 52, ../sass/style.scss */
.align-right {
  text-align: right !important;
}

/* line 56, ../sass/style.scss */
.note {
  font-size: 11px !important;
}

/* line 60, ../sass/style.scss */
.white {
  color: #f3f3f3 !important;
}

/* line 63, ../sass/style.scss */
.orange {
  color: #ff7505 !important;
}

/* line 66, ../sass/style.scss */
.grey {
  color: #787878 !important;
}

/* line 69, ../sass/style.scss */
.grey-dark {
  color: #303030 !important;
}

/* line 73, ../sass/style.scss */
.grey-light {
  color: #d8d8d8 !important;
}

/* line 77, ../sass/style.scss */
.red {
  color: #ed1c24 !important;
}

/* line 81, ../sass/style.scss */
.content p {
  font-size: 14px;
  line-height: 120%;
}

/* line 85, ../sass/style.scss */
.content {
  border-bottom: 1px solid #303030;
}

/* line 89, ../sass/style.scss */
.bg-double {
  background-color: #f3f3f3;
  height: auto;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwMzAzMCIvPjxzdG9wIG9mZnNldD0iNDkuNiUiIHN0b3AtY29sb3I9IiMzMDMwMzAiLz48c3RvcCBvZmZzZXQ9IjQ5LjYlIiBzdG9wLWNvbG9yPSIjZjNmM2YzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjNmM2YzIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #303030), color-stop(49.6%, #303030), color-stop(49.6%, #f3f3f3), color-stop(100%, #f3f3f3));
  background-image: -webkit-linear-gradient(left, #303030 0%, #303030 49.6%, #f3f3f3 49.6%, #f3f3f3 100%);
  background-image: -moz-linear-gradient(left, #303030 0%, #303030 49.6%, #f3f3f3 49.6%, #f3f3f3 100%);
  background-image: -o-linear-gradient(left, #303030 0%, #303030 49.6%, #f3f3f3 49.6%, #f3f3f3 100%);
  background-image: linear-gradient(left, #303030 0%, #303030 49.6%, #f3f3f3 49.6%, #f3f3f3 100%);
  overflow: hidden;
}

/* line 101, ../sass/style.scss */
.bg-black {
  background: #1c1c1c;
  height: 100%;
}

/* line 106, ../sass/style.scss */
.bg-grey-dark {
  background-color: #303030 !important;
  height: 100%;
}

/* line 111, ../sass/style.scss */
.bg-white {
  background-color: #f3f3f3 !important;
  height: 100%;
}

/* line 116, ../sass/style.scss */
.profile-style {
  background-color: #f3f3f3;
}

/* line 126, ../sass/style.scss */
a.ico-label {
  word-wrap: break-word !important;
  width: auto;
  height: 30px;
  float: left;
  font-size: 13px;
  color: #787878;
  line-height: 30px;
  margin-right: 1px;
  padding: 0 0px 0 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition-property: background-position, color;
  -moz-transition-property: background-position, color;
  -o-transition-property: background-position, color;
  transition-property: background-position, color;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
}
/* line 141, ../sass/style.scss */
a.ico-label:hover {
  background-position: left top;
  color: #787878;
}

/* line 146, ../sass/style.scss */
a.ico-label-btn {
  background-color: #787878;
  padding: 0 12px 0 30px;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
}
/* line 151, ../sass/style.scss */
a.ico-label-btn:hover {
  background-color: #787878;
}

/* line 156, ../sass/style.scss */
a.icon-block {
  word-wrap: break-word !important;
  width: auto;
  height: 30px;
  float: right;
  font-size: 13px;
  color: #787878;
  margin-top: 15px !important;
  line-height: 30px;
  margin-right: 1px;
  padding: 0 0px 0 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-transition-property: background-position;
  -moz-transition-property: background-position;
  -o-transition-property: background-position;
  transition-property: background-position;
}
/* line 171, ../sass/style.scss */
a.icon-block:hover {
  background-position: left bottom;
}

/* line 177, ../sass/style.scss */
.slide-button-next {
  word-wrap: break-word !important;
  width: auto;
  height: 30px;
  float: right;
  font-size: 13px;
  color: #787878;
  line-height: 30px;
  margin-right: 1px;
  cursor: pointer;
  top: 5px !important;
  margin-top: 15px !important;
  padding: 0px 30px 0px 0px !important;
  background-repeat: no-repeat;
  background-position: right top;
}
/* line 192, ../sass/style.scss */
.slide-button-next:hover {
  background-position: right bottom;
  color: #ff7505;
}

/* line 198, ../sass/style.scss */
.slide-button-next-disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 200, ../sass/style.scss */
.slide-button-next-disabled:hover {
  color: #787878;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  cursor: default;
  background-position: right top !important;
}

/* line 208, ../sass/style.scss */
.slide-button-prev {
  word-wrap: break-word !important;
  width: auto;
  height: 30px;
  float: right;
  font-size: 13px;
  color: #787878;
  margin-top: 15px !important;
  line-height: 30px;
  margin-right: 1px;
  padding: 0 0px 0 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-transition-property: background-position;
  -moz-transition-property: background-position;
  -o-transition-property: background-position;
  transition-property: background-position;
}
/* line 223, ../sass/style.scss */
.slide-button-prev:hover {
  background-position: left bottom;
  color: #ff7505;
}

/* line 228, ../sass/style.scss */
.slide-button-prev-disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 230, ../sass/style.scss */
.slide-button-prev-disabled:hover {
  color: #787878;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  cursor: default;
  background-position: left top !important;
}

/* line 238, ../sass/style.scss */
.add {
  width: 43px;
  height: 43px;
  background-color: #ff7505;
  float: left;
  cursor: pointer;
}
/* line 244, ../sass/style.scss */
.add:hover {
  background-color: #c95600;
}

/* line 249, ../sass/style.scss */
.icon-small {
  width: 15px;
  height: 15px;
  margin-right: 5px !important;
}

/* line 255, ../sass/style.scss */
#header-social .ico-label {
  width: 15px !important;
}

/* line 259, ../sass/style.scss */
.iconNotification {
  left: -15px;
  top: -13px;
  background-color: #ff7505 !important;
}

/* line 269, ../sass/style.scss */
footer {
  width: 100%;
  height: auto;
  padding: 8px;
  background: #1c1c1c;
  position: fixed;
  bottom: 0px;
  margin: 0px;
  z-index: 999;
  overflow: visible !important;
}

/* line 283, ../sass/style.scss */
#footer {
  overflow: auto;
}
/* line 285, ../sass/style.scss */
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
  color: #787878 !important;
  margin-bottom: 0.2em !important;
}

/* line 292, ../sass/style.scss */
.footer-ico {
  color: #787878 !important;
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
}

/* line 300, ../sass/style.scss */
.footer-ico-off {
  color: #ff7505 !important;
  font-size: 20px;
  cursor: pointer;
}

/* line 310, ../sass/style.scss */
.user {
  font-size: 20px;
  color: #787878 !important;
  margin-top: 5px;
  padding-bottom: 0;
}

/* line 317, ../sass/style.scss */
#footer-body {
  overflow: auto;
}
/* line 319, ../sass/style.scss */
#footer-body h1, #footer-body h2, #footer-body h3, #footer-body h4, #footer-body h5, #footer-body h6 {
  color: #787878 !important;
  margin-bottom: 0.5em !important;
}

/* line 325, ../sass/style.scss */
#footer-body a {
  font-size: 12px;
  color: #787878 !important;
  margin-bottom: 0.2em !important;
}

/* line 334, ../sass/style.scss */
#error_page {
  background-color: #232323 !important;
  height: 700px;
}
/* line 337, ../sass/style.scss */
#error_page body {
  background-color: #232323 !important;
}

/* line 343, ../sass/style.scss */
#signup {
  padding-top: 3%;
}
/* line 345, ../sass/style.scss */
#signup h2, #signup h3 {
  color: #d8d8d8;
}

/* line 350, ../sass/style.scss */
.signup-box {
  border-top: 1px solid #ff7505;
  background-color: #232323;
  margin-bottom: 60px;
}

/* line 356, ../sass/style.scss */
.signup-title {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* line 362, ../sass/style.scss */
#signup01 {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5%;
}
/* line 367, ../sass/style.scss */
#signup01 h3 {
  color: #787878 !important;
}

/* line 372, ../sass/style.scss */
#form-signup label {
  font-size: 14px;
  color: #d8d8d8;
  text-align: left !important;
  padding-bottom: 20px !important;
}

/* line 381, ../sass/style.scss */
#signup01 label {
  text-align: center !important;
  color: #787878 !important;
}
/* line 384, ../sass/style.scss */
#signup01 label:hover {
  color: #d8d8d8 !important;
}
/* line 386, ../sass/style.scss */
#signup01 label:hover h3 {
  color: #ff7505 !important;
}
/* line 387, ../sass/style.scss */
#signup01 label:hover .img-white {
  display: inline;
  text-align: center;
}
/* line 388, ../sass/style.scss */
#signup01 label:hover .img-grey {
  display: none;
}

/* line 394, ../sass/style.scss */
#signup-ok label {
  text-align: center !important;
  color: #787878 !important;
}
/* line 397, ../sass/style.scss */
#signup-ok label:hover {
  color: #d8d8d8 !important;
}
/* line 399, ../sass/style.scss */
#signup-ok label:hover h3 {
  color: #ff7505 !important;
}
/* line 400, ../sass/style.scss */
#signup-ok label:hover .img-white {
  display: inline;
  text-align: center;
}
/* line 401, ../sass/style.scss */
#signup-ok label:hover .img-grey {
  display: none;
}

/* line 406, ../sass/style.scss */
.signup-ok {
  padding-left: 150px !important;
  padding-right: 150px !important;
  padding-bottom: 50px !important;
}
/* line 407, ../sass/style.scss */
.signup-ok h3 {
  color: #787878 !important;
}

/* line 413, ../sass/style.scss */
#form-signup input[type='text'], input[type='password'] {
  color: #f3f3f3;
  background-color: #232323;
  border: 0px;
  border-bottom: 1px solid #303030;
  margin-left: 0px;
}
/* line 420, ../sass/style.scss */
#form-signup input[type='text']:focus, input[type='password']:focus {
  background-color: #303030;
  border-bottom: 1px solid #787878;
}

/* line 427, ../sass/style.scss */
#form-signup input[type='text'].error, input[type='password'].error {
  border: 1px solid #ed1c24;
}

/* line 432, ../sass/style.scss */
#form-signup select + #spotter-birth-day {
  cursor: pointer !important;
}

/* line 436, ../sass/style.scss */
#form-signup textarea {
  color: #f3f3f3 !important;
  background-color: #232323;
  border: 1px solid #303030;
  height: 150px;
}
/* line 441, ../sass/style.scss */
#form-signup textarea:focus {
  background-color: #303030;
}

/* line 447, ../sass/style.scss */
.captcha input[type='text'] {
  width: auto !important;
}

/* line 452, ../sass/style.scss */
#signup .signup-body {
  padding: 30px !important;
  padding-left: 60px !important;
  padding-right: 60px !important;
}

/* line 458, ../sass/style.scss */
#signup .signup-labelStep {
  width: 95px;
  height: 50px;
  color: #d8d8d8;
  font-size: 14px;
  background-color: #c95600;
  float: left;
  margin-left: 2px;
  padding: 20px;
  text-align: center !important;
  float: right;
}

/* line 473, ../sass/style.scss */
#signup .signup-button {
  background-image: url(../images/button/signup-next.png) !important;
  background-color: #232323;
  border: 0px;
  color: #f3f3f3;
  width: 135px;
  height: 35px;
  margin: 20px !important;
  background-repeat: no-repeat;
}

/* line 486, ../sass/style.scss */
#signup .signup-button-back {
  background-image: url(../images/button/signup-back.png) !important;
  background-color: #232323;
  border: 0px;
  color: #787878;
  width: 135px;
  height: 35px;
  background-repeat: no-repeat;
}

/* line 499, ../sass/style.scss */
#signup .signup-note {
  padding-top: 50px;
}

/* line 503, ../sass/style.scss */
#signup .signup-button-fb {
  width: 344px;
  height: 55px !important;
  font-size: 27px;
  font-weight: normal !important;
  background-color: #d8d8d8 !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #303030 !important;
  background-image: url(../images/icon/facebook-button.png);
  background-repeat: no-repeat;
  background-position: 5px 10px;
  padding: 5px !important;
}

/* line 518, ../sass/style.scss */
#signup .align-center {
  text-align: center;
}

/* line 523, ../sass/style.scss */
#signup .signup-box-image {
  border: 2px solid #787878;
  height: 105px !important;
  padding: 0px !important;
  margin-bottom: 30px;
}

/* line 530, ../sass/style.scss */
.signup-box-avatar {
  padding: 0px !important;
}

/* line 534, ../sass/style.scss */
.signup-image {
  text-align: center !important;
  background-color: #303030 !important;
  height: 99px !important;
  margin: 1px !important;
  width: 99px !important;
}

/* line 542, ../sass/style.scss */
.signup-box-avatar-text {
  padding-top: 30px !important;
}

/* line 546, ../sass/style.scss */
#form-signup .signup-genre label {
  background-color: #303030 !important;
  height: 25px !important;
  color: #f3f3f3;
  float: left;
  padding: 5px;
  margin-right: 15px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 558, ../sass/style.scss */
#form-signup .signup-genre input[type='checkbox']:checked + label {
  background-color: #ff7505 !important;
}

/* line 565, ../sass/style.scss */
#form-signup .signup-icon-social {
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: left;
  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}

/* line 576, ../sass/style.scss */
#form-signup .signup-icon-social-focus {
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: left;
  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top !important;
}

/* line 587, ../sass/style.scss */
#form-signup .signup-bottom {
  margin-bottom: 50px;
}

/* line 591, ../sass/style.scss */
#form-signup .signup-radio input[type='radio'] + label {
  height: 30px;
  width: auto;
  background-image: url(../images/icon/double-icone/check.png);
  background-repeat: no-repeat;
  background-position: left bottom !important;
  line-height: 30px;
  margin-right: 20px;
  padding: 0 0px 0 30px;
}

/* line 602, ../sass/style.scss */
#form-signup .signup-radio input[type='radio']:checked + label {
  background-position: left top !important;
}

/* line 606, ../sass/style.scss */
.addComponents {
  cursor: pointer;
}

/* line 610, ../sass/style.scss */
#form-signup select {
  cursor: pointer;
  padding: 2px !important;
  color: #d8d8d8 !important;
  background-color: #232323;
  border: 1px solid #303030;
  height: 30px;
  background: #232323 url(../images/icon/small/other.png) no-repeat right !important;
  -webkit-appearance: none;
}
/* line 620, ../sass/style.scss */
#form-signup select:focus {
  border: 1px solid #303030;
  background-color: #303030;
  border-bottom: 1px solid #787878;
}

/* line 628, ../sass/style.scss */
.reveal-modal {
  top: -100px !important;
}

/* line 631, ../sass/style.scss */
.location-reveal {
  text-align: right !important;
  position: absolute;
  right: 0px;
}

/* line 638, ../sass/style.scss */
#form-signup .error {
  background-color: inherit !important;
  color: #ed1c24 !important;
  float: center !important;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* line 647, ../sass/style.scss */
#form-signup small.error {
  float: right !important;
}

/* line 651, ../sass/style.scss */
.uploadImage_tumbnail-pane {
  width: 99px !important;
  height: 99px !important;
  overflow: hidden;
}

/* line 658, ../sass/style.scss */
.uploadImage_tumbnail-pane img {
  max-width: none !important;
}

/* line 663, ../sass/style.scss */
.uploadImage {
  min-height: 400px;
}

/* line 668, ../sass/style.scss */
.uploadImage input[type='file'] {
  display: none;
}

/* line 673, ../sass/style.scss */
.uploadImage .uploadImage_file_label {
  background-color: #ff7505;
  height: 40px;
  padding: 13px;
  padding-left: 40px;
  background-image: url(../images/icon/add.png) !important;
  background-repeat: no-repeat;
  font-size: 14px !important;
  margin-bottom: 50px;
}

/* line 684, ../sass/style.scss */
.uploadImage-reveal {
  left: 5px !important;
  width: 900px !important;
  background-color: #232323 !important;
}

/* line 697, ../sass/style.scss */
._back_page {
  background-image: url(../images/icon/double-icone/back_page.png);
}

/* line 698, ../sass/style.scss */
._calendar {
  background-image: url(../images/icon/double-icone/calendar.png);
}

/* line 699, ../sass/style.scss */
._check {
  background-image: url(../images/icon/double-icone/check.png);
}

/* line 700, ../sass/style.scss */
._compass {
  background-image: url(../images/icon/double-icone/compass.png);
}

/* line 701, ../sass/style.scss */
._facebook {
  background-image: url(../images/icon/double-icone/facebook.png);
}

/* line 702, ../sass/style.scss */
._facebook-double {
  background-image: url(../images/icon/double-icone/facebook-double.png);
}

/* line 703, ../sass/style.scss */
._flag {
  background-image: url(../images/icon/double-icone/flag.png);
}

/* line 704, ../sass/style.scss */
._friend {
  background-image: url(../images/icon/double-icone/friend.png);
}

/* line 705, ../sass/style.scss */
._google {
  background-image: url(../images/icon/double-icone/google.png);
}

/* line 706, ../sass/style.scss */
._google-double {
  background-image: url(../images/icon/double-icone/google-double.png);
}

/* line 707, ../sass/style.scss */
._message {
  background-image: url(../images/icon/double-icone/message.png);
}

/* line 708, ../sass/style.scss */
._nextPage {
  background-image: url(../images/icon/double-icone/nextPage.png);
}

/* line 709, ../sass/style.scss */
._note {
  background-image: url(../images/icon/double-icone/note.png);
}

/* line 710, ../sass/style.scss */
._note-white {
  background-image: url(../images/icon/double-icone/note-white.png);
}

/* line 711, ../sass/style.scss */
._notify {
  background-image: url(../images/icon/double-icone/notify.png);
}

/* line 712, ../sass/style.scss */
._off {
  background-image: url(../images/icon/double-icone/off.png);
}

/* line 713, ../sass/style.scss */
._pin {
  background-image: url(../images/icon/double-icone/pin.png);
}

/* line 714, ../sass/style.scss */
._pin-white {
  background-image: url(../images/icon/double-icone/pin-white.png);
}

/* line 715, ../sass/style.scss */
._play-large {
  background-image: url(../images/icon/double-icone/play.png);
}

/* line 716, ../sass/style.scss */
._play_white {
  background-image: url(../images/icon/double-icone/play_white.png);
}

/* line 717, ../sass/style.scss */
._prevPage {
  background-image: url(../images/icon/double-icone/prevPage.png);
}

/* line 718, ../sass/style.scss */
._setting {
  background-image: url(../images/icon/double-icone/setting.png);
}

/* line 719, ../sass/style.scss */
._twitter {
  background-image: url(../images/icon/double-icone/twitter.png);
}

/* line 720, ../sass/style.scss */
._twitter-double {
  background-image: url(../images/icon/double-icone/twitter-double.png);
}

/* line 721, ../sass/style.scss */
._web {
  background-image: url(../images/icon/double-icone/web.png);
}

/* line 722, ../sass/style.scss */
._web-double {
  background-image: url(../images/icon/double-icone/web-double.png);
}

/* line 723, ../sass/style.scss */
._youtube {
  background-image: url(../images/icon/double-icone/youtube.png);
}

/* line 724, ../sass/style.scss */
._youtube-double {
  background-image: url(../images/icon/double-icone/youtube-double.png);
}

/* line 725, ../sass/style.scss */
._tag {
  background-image: url(../images/icon/double-icone/tag.png);
}

/* line 729, ../sass/style.scss */
._add {
  background-image: url(../images/icon/add.png);
}

/* line 732, ../sass/style.scss */
._check-button {
  background-image: url(../images/icon/button/check.png);
}

/* line 733, ../sass/style.scss */
._note-button {
  background-image: url(../images/icon/button/note.png);
}

/* line 734, ../sass/style.scss */
._delete-button {
  background-image: url(../images/icon/button/delete.png);
}

/* line 738, ../sass/style.scss */
._back {
  background-image: url(../images/icon/musicplayer/back.png);
}

/* line 739, ../sass/style.scss */
._pause {
  background-image: url(../images/icon/musicplayer/pause.png);
}

/* line 740, ../sass/style.scss */
._next {
  background-image: url(../images/icon/musicplayer/next.png);
}

/* line 741, ../sass/style.scss */
._play {
  background-image: url(../images/icon/musicplayer/play.png);
}

/* line 744, ../sass/style.scss */
._message-small {
  background-image: url(../images/icon/small/message-small.png);
}

/* line 745, ../sass/style.scss */
._calendar-small {
  background-image: url(../images/icon/small/calendar-small.png);
}

/* line 746, ../sass/style.scss */
._compass-small {
  background-image: url(../images/icon/small/compass-small.png);
}

/* line 747, ../sass/style.scss */
._love {
  background-image: url(../images/icon/small/love.png);
}

/* line 748, ../sass/style.scss */
._unlove {
  background-image: url(../images/icon/small/unlove.png);
}

/* line 749, ../sass/style.scss */
._comment {
  background-image: url(../images/icon/small/comment.png);
}

/* line 750, ../sass/style.scss */
._share {
  background-image: url(../images/icon/small/share.png);
}

/* line 751, ../sass/style.scss */
._review {
  background-image: url(../images/icon/small/review.png);
}

/* line 752, ../sass/style.scss */
._menu-small {
  background-image: url(../images/icon/small/menu-small.png);
}

/* line 753, ../sass/style.scss */
._remove-small {
  background-image: url(../images/icon/small/remove-small.png);
}

/* line 754, ../sass/style.scss */
._star-orange {
  background-image: url(../images/icon/small/star-orange.png);
}

/* line 755, ../sass/style.scss */
._star-grey {
  background-image: url(../images/icon/small/star-grey.png);
}

/* line 756, ../sass/style.scss */
._star-orange-big {
  background-image: url(../images/icon/small/star-orange-big.png);
  width: 20px !important;
  height: 20px !important;
  display: block !important;
  float: left !important;
}

/* line 757, ../sass/style.scss */
._star-grey-big {
  background-image: url(../images/icon/small/star-grey-big.png);
  width: 20px !important;
  height: 20px !important;
  display: block !important;
  float: left !important;
}

/* line 758, ../sass/style.scss */
._user-small {
  background-image: url(../images/icon/small/user-small.png);
}

/* line 761, ../sass/style.scss */
._target1 {
  background-image: url(../images/icon/achievement/target1.png);
}

/* line 762, ../sass/style.scss */
._target2 {
  background-image: url(../images/icon/achievement/target2.png);
}

/* line 763, ../sass/style.scss */
._target3 {
  background-image: url(../images/icon/achievement/target3.png);
}

/* line 766, ../sass/style.scss */
._message_status {
  background-image: url(../images/icon/status/message.png);
}

/* line 767, ../sass/style.scss */
._follower_status {
  background-image: url(../images/icon/status/follower.png);
}
