/* classi generiche */
/* line 6, ../../../sass/style.scss */
.no-display {
  display: none;
}

/* line 7, ../../../sass/style.scss */
.inline-display {
  display: inline;
}

/* line 25, ../../../sass/style.scss */
body h2 {
  color: #f3f3f3;
  margin-bottom: 0px;
}
/* line 26, ../../../sass/style.scss */
body h3 {
  color: #787878;
  margin-bottom: 5px;
}

/* line 30, ../../../sass/style.scss */
.sottotitle {
  font-size: 17px !important;
}

/* line 34, ../../../sass/style.scss */
.text {
  font-size: 14px !important;
}

/* line 39, ../../../sass/style.scss */
label.text {
  font-weight: normal  !important;
  margin-bottom: 5px !important;
}

/* line 44, ../../../sass/style.scss */
.line {
  border-bottom: 1px solid #787878;
  margin-bottom: 5px !important;
}

/* line 49, ../../../sass/style.scss */
.align-right {
  text-align: right !important;
}

/* line 53, ../../../sass/style.scss */
.note {
  font-size: 11px !important;
}

/* line 57, ../../../sass/style.scss */
.white {
  color: #f3f3f3 !important;
}

/* line 60, ../../../sass/style.scss */
.orange {
  color: #ff7505 !important;
}

/* line 63, ../../../sass/style.scss */
.grey {
  color: #787878 !important;
}

/* line 66, ../../../sass/style.scss */
.grey-dark {
  color: #303030 !important;
}

/* line 70, ../../../sass/style.scss */
.grey-light {
  color: #d8d8d8 !important;
}

/* line 74, ../../../sass/style.scss */
.red {
  color: #ed1c24 !important;
}

/* line 78, ../../../sass/style.scss */
.content p {
  font-size: 14px;
  line-height: 120%;
}

/* line 82, ../../../sass/style.scss */
.content {
  border-bottom: 1px solid #303030;
}

/* line 86, ../../../sass/style.scss */
.bg-double {
  background-color: #f3f3f3;
  height: auto;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwMzAzMCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMzAzMDMwIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #303030), color-stop(50%, #303030), color-stop(50%, #f3f3f3), color-stop(100%, #f3f3f3));
  background-image: -webkit-linear-gradient(left, #303030 0%, #303030 50%, #f3f3f3 50%, #f3f3f3 100%);
  background-image: -moz-linear-gradient(left, #303030 0%, #303030 50%, #f3f3f3 50%, #f3f3f3 100%);
  background-image: -o-linear-gradient(left, #303030 0%, #303030 50%, #f3f3f3 50%, #f3f3f3 100%);
  background-image: linear-gradient(left, #303030 0%, #303030 50%, #f3f3f3 50%, #f3f3f3 100%);
  overflow: hidden;
}

/* line 98, ../../../sass/style.scss */
.bg-grey-dark {
  background-color: #303030 !important;
  height: 100%;
}

/* line 103, ../../../sass/style.scss */
.profile-style {
  background-color: #f3f3f3;
}

/* line 113, ../../../sass/style.scss */
a.ico-label {
  word-wrap: break-word !important;
  width: auto;
  height: 30px;
  float: left;
  font-size: 13px;
  color: #787878;
  line-height: 30px;
  margin-right: 1px;
  padding: 0 0px 0 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition-property: background-position, color;
  -moz-transition-property: background-position, color;
  -o-transition-property: background-position, color;
  transition-property: background-position, color;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
}
/* line 128, ../../../sass/style.scss */
a.ico-label:hover {
  background-position: left top;
  color: #787878;
}

/* line 133, ../../../sass/style.scss */
a.ico-label-btn {
  background-color: #787878;
  padding: 0 12px 0 30px;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
}
/* line 138, ../../../sass/style.scss */
a.ico-label-btn:hover {
  background-color: #787878;
}

/* line 143, ../../../sass/style.scss */
a.icon-block {
  word-wrap: break-word !important;
  width: auto;
  height: 30px;
  float: right;
  font-size: 13px;
  color: #787878;
  margin-top: 15px !important;
  line-height: 30px;
  margin-right: 1px;
  padding: 0 0px 0 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-transition-property: background-position;
  -moz-transition-property: background-position;
  -o-transition-property: background-position;
  transition-property: background-position;
}
/* line 158, ../../../sass/style.scss */
a.icon-block:hover {
  background-position: left bottom;
}

/* line 165, ../../../sass/style.scss */
.add {
  width: 43px;
  height: 43px;
  background-color: #ff7505;
  float: left;
  cursor: pointer;
}
/* line 171, ../../../sass/style.scss */
.add:hover {
  background-color: #c95600;
}

/* line 176, ../../../sass/style.scss */
.icon-small {
  width: 15px;
  height: 15px;
}

/* line 188, ../../../sass/style.scss */
footer {
  width: 100%;
  height: auto;
  padding: 8px;
  background: #1c1c1c;
  position: fixed;
  bottom: 0px;
  margin: 0px;
  z-index: 999;
  overflow: visible !important;
}

/* line 202, ../../../sass/style.scss */
#footer {
  overflow: auto;
}
/* line 204, ../../../sass/style.scss */
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
  color: #787878 !important;
  margin-bottom: 0.2em !important;
}

/* line 211, ../../../sass/style.scss */
.footer-ico {
  color: #787878 !important;
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
}

/* line 219, ../../../sass/style.scss */
.footer-ico-off {
  color: #ff7505 !important;
  font-size: 20px;
  cursor: pointer;
}

/* line 229, ../../../sass/style.scss */
.user {
  font-size: 20px;
  color: #787878 !important;
  margin-top: 5px;
  padding-bottom: 0;
}

/* line 236, ../../../sass/style.scss */
#footer-body {
  overflow: auto;
}
/* line 238, ../../../sass/style.scss */
#footer-body h1, #footer-body h2, #footer-body h3, #footer-body h4, #footer-body h5, #footer-body h6 {
  color: #787878 !important;
  margin-bottom: 0.5em !important;
}

/* line 244, ../../../sass/style.scss */
#footer-body a {
  font-size: 12px;
  color: #787878 !important;
  margin-bottom: 0.2em !important;
}

/* line 251, ../../../sass/style.scss */
#error_page {
  background-color: #232323 !important;
  height: 700px;
}
/* line 254, ../../../sass/style.scss */
#error_page body {
  background-color: #232323 !important;
}

/* line 260, ../../../sass/style.scss */
#signup {
  padding-top: 3%;
}
/* line 262, ../../../sass/style.scss */
#signup h2, #signup h3 {
  color: #d8d8d8;
}

/* line 267, ../../../sass/style.scss */
.signup-box {
  border-top: 1px solid #ff7505;
  background-color: #232323;
  margin-bottom: 60px;
}

/* line 273, ../../../sass/style.scss */
.signup-title {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* line 279, ../../../sass/style.scss */
#signup01 {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5%;
}
/* line 284, ../../../sass/style.scss */
#signup01 h3 {
  color: #787878 !important;
}

/* line 289, ../../../sass/style.scss */
#form-signup label {
  font-size: 14px;
  color: #d8d8d8;
  text-align: left !important;
  padding-bottom: 20px !important;
}

/* line 298, ../../../sass/style.scss */
#signup01 label {
  text-align: center !important;
  color: #787878 !important;
}
/* line 301, ../../../sass/style.scss */
#signup01 label:hover {
  color: #d8d8d8 !important;
}
/* line 303, ../../../sass/style.scss */
#signup01 label:hover h3 {
  color: #ff7505 !important;
}
/* line 304, ../../../sass/style.scss */
#signup01 label:hover .img-white {
  display: inline;
  text-align: center;
}
/* line 305, ../../../sass/style.scss */
#signup01 label:hover .img-grey {
  display: none;
}

/* line 311, ../../../sass/style.scss */
#signup-ok label {
  text-align: center !important;
  color: #787878 !important;
}
/* line 314, ../../../sass/style.scss */
#signup-ok label:hover {
  color: #d8d8d8 !important;
}
/* line 316, ../../../sass/style.scss */
#signup-ok label:hover h3 {
  color: #ff7505 !important;
}
/* line 317, ../../../sass/style.scss */
#signup-ok label:hover .img-white {
  display: inline;
  text-align: center;
}
/* line 318, ../../../sass/style.scss */
#signup-ok label:hover .img-grey {
  display: none;
}

/* line 323, ../../../sass/style.scss */
.signup-ok {
  padding-left: 150px !important;
  padding-right: 150px !important;
  padding-bottom: 50px !important;
}
/* line 324, ../../../sass/style.scss */
.signup-ok h3 {
  color: #787878 !important;
}

/* line 330, ../../../sass/style.scss */
#form-signup input[type='text'], input[type='password'] {
  color: #f3f3f3;
  background-color: #232323;
  border: 0px;
  border-bottom: 1px solid #303030;
  margin-left: 0px;
}
/* line 337, ../../../sass/style.scss */
#form-signup input[type='text']:focus, input[type='password']:focus {
  background-color: #303030;
  border-bottom: 1px solid #787878;
}

/* line 344, ../../../sass/style.scss */
#form-signup input[type='text'].error, input[type='password'].error {
  border: 1px solid #ed1c24;
}

/* line 349, ../../../sass/style.scss */
#form-signup select + #spotter-birth-day {
  cursor: pointer !important;
}

/* line 353, ../../../sass/style.scss */
#form-signup textarea {
  color: #f3f3f3 !important;
  background-color: #232323;
  border: 1px solid #303030;
  height: 150px;
}
/* line 358, ../../../sass/style.scss */
#form-signup textarea:focus {
  background-color: #303030;
}

/* line 364, ../../../sass/style.scss */
.captcha input[type='text'] {
  width: auto !important;
}

/* line 369, ../../../sass/style.scss */
#signup .signup-body {
  padding: 30px !important;
  padding-left: 60px !important;
  padding-right: 60px !important;
}

/* line 375, ../../../sass/style.scss */
#signup .signup-labelStep {
  width: 95px;
  height: 50px;
  color: #d8d8d8;
  font-size: 14px;
  background-color: #c95600;
  float: left;
  margin-left: 2px;
  padding: 20px;
  text-align: center !important;
  float: right;
}

/* line 390, ../../../sass/style.scss */
#signup .signup-button {
  background-image: url(../images/button/signup-next.png) !important;
  background-color: #232323;
  border: 0px;
  color: #f3f3f3;
  width: 135px;
  height: 35px;
  margin: 20px !important;
  background-repeat: no-repeat;
}

/* line 402, ../../../sass/style.scss */
#signup .signup-button-back {
  background-image: url(../images/button/signup-back.png) !important;
  background-color: #232323;
  border: 0px;
  color: #787878;
  width: 135px;
  height: 35px;
  background-repeat: no-repeat;
}

/* line 415, ../../../sass/style.scss */
#signup .signup-note {
  padding-top: 50px;
}

/* line 419, ../../../sass/style.scss */
#signup .signup-button-fb {
  width: 344px;
  height: 55px !important;
  font-size: 27px;
  font-weight: normal  !important;
  background-color: #d8d8d8 !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #303030 !important;
  background-image: url(../images/icon/facebook-button.png);
  background-repeat: no-repeat;
  background-position: 5px 10px;
  padding: 5px !important;
}

/* line 434, ../../../sass/style.scss */
#signup .align-center {
  text-align: center;
}

/* line 439, ../../../sass/style.scss */
#signup .signup-box-image {
  border: 2px solid #787878;
  height: 105px !important;
  padding: 0px !important;
  margin-bottom: 30px;
}

/* line 446, ../../../sass/style.scss */
.signup-box-avatar {
  padding: 0px !important;
}

/* line 450, ../../../sass/style.scss */
.signup-image {
  text-align: center !important;
  background-color: #303030 !important;
  height: 99px !important;
  margin: 1px !important;
  width: 99px !important;
}

/* line 458, ../../../sass/style.scss */
.signup-box-avatar-text {
  padding-top: 30px !important;
}

/* line 462, ../../../sass/style.scss */
#form-signup .signup-genre label {
  background-color: #303030 !important;
  height: 25px !important;
  color: #f3f3f3;
  float: left;
  padding: 5px;
  margin-right: 15px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 474, ../../../sass/style.scss */
#form-signup .signup-genre input[type='checkbox']:checked + label {
  background-color: #ff7505 !important;
}

/* line 481, ../../../sass/style.scss */
#form-signup .signup-icon-social {
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: left;
  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}

/* line 492, ../../../sass/style.scss */
#form-signup .signup-icon-social-focus {
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: left;
  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top !important;
}

/* line 503, ../../../sass/style.scss */
#form-signup .signup-bottom {
  margin-bottom: 50px;
}

/* line 507, ../../../sass/style.scss */
#form-signup .signup-radio input[type='radio'] + label {
  height: 30px;
  width: auto;
  background-image: url(../images/icon/check.png);
  background-repeat: no-repeat;
  background-position: left bottom !important;
  line-height: 30px;
  margin-right: 20px;
  padding: 0 0px 0 30px;
}

/* line 518, ../../../sass/style.scss */
#form-signup .signup-radio input[type='radio']:checked + label {
  background-position: left top !important;
}

/* line 522, ../../../sass/style.scss */
.addComponents {
  cursor: pointer;
}

/* line 526, ../../../sass/style.scss */
#form-signup select {
  cursor: pointer;
  padding: 2px !important;
  color: #d8d8d8 !important;
  background-color: #232323;
  border: 1px solid #303030;
  height: 30px;
  background: #232323 url(../images/icon/small/other.png) no-repeat right !important;
  -webkit-appearance: none;
}
/* line 536, ../../../sass/style.scss */
#form-signup select:focus {
  border: 1px solid #303030;
  background-color: #303030;
  border-bottom: 1px solid #787878;
}

/* line 544, ../../../sass/style.scss */
.reveal-modal {
  top: -100px !important;
}

/* line 547, ../../../sass/style.scss */
.location-reveal {
  text-align: right !important;
  position: absolute;
  right: 0px;
}

/* line 554, ../../../sass/style.scss */
#form-signup .error {
  background-color: inherit !important;
  color: #ed1c24 !important;
  float: center !important;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* line 563, ../../../sass/style.scss */
#form-signup small.error {
  float: right !important;
}

/* line 567, ../../../sass/style.scss */
.uploadImage_tumbnail-pane {
  width: 99px !important;
  height: 99px !important;
  overflow: hidden;
}

/* line 574, ../../../sass/style.scss */
.uploadImage_tumbnail-pane img {
  max-width: none !important;
}

/* line 579, ../../../sass/style.scss */
.uploadImage {
  min-height: 400px;
}

/* line 584, ../../../sass/style.scss */
.uploadImage input[type='file'] {
  display: none;
}

/* line 589, ../../../sass/style.scss */
.uploadImage .uploadImage_file_label {
  background-color: #ff7505;
  height: 40px;
  padding: 13px;
  padding-left: 40px;
  background-image: url(../images/icon/add.png) !important;
  background-repeat: no-repeat;
  font-size: 14px !important;
  margin-bottom: 50px;
}

/* line 600, ../../../sass/style.scss */
.uploadImage-reveal {
  left: 5px !important;
  width: 900px !important;
  background-color: #232323 !important;
}

/* line 613, ../../../sass/style.scss */
._notify {
  background-image: url(../images/icon/notify.png);
}

/* line 614, ../../../sass/style.scss */
._friend {
  background-image: url(../images/icon/friend.png);
}

/* line 615, ../../../sass/style.scss */
._setting {
  background-image: url(../images/icon/setting.png);
}

/* line 616, ../../../sass/style.scss */
._add {
  background-image: url(../images/icon/add.png);
}

/* line 617, ../../../sass/style.scss */
._flag {
  background-image: url(../images/icon/flag.png);
}

/* line 618, ../../../sass/style.scss */
._message {
  background-image: url(../images/icon/message.png);
}

/* line 619, ../../../sass/style.scss */
._calendar {
  background-image: url(../images/icon/calendar.png);
}

/* line 620, ../../../sass/style.scss */
._compass {
  background-image: url(../images/icon/compass.png);
}

/* line 621, ../../../sass/style.scss */
._note {
  background-image: url(../images/icon/note.png);
}

/* line 622, ../../../sass/style.scss */
._pin {
  background-image: url(../images/icon/pin.png);
}

/* line 623, ../../../sass/style.scss */
._facebook {
  background-image: url(../images/icon/facebook.png);
}

/* line 624, ../../../sass/style.scss */
._twitter {
  background-image: url(../images/icon/twitter.png);
}

/* line 625, ../../../sass/style.scss */
._google {
  background-image: url(../images/icon/google.png);
}

/* line 626, ../../../sass/style.scss */
._youtube {
  background-image: url(../images/icon/youtube.png);
}

/* line 627, ../../../sass/style.scss */
._web {
  background-image: url(../images/icon/web.png);
}

/* line 628, ../../../sass/style.scss */
._back_page {
  background-image: url(../images/icon/back_page.png);
}

/* line 629, ../../../sass/style.scss */
._play-large {
  background-image: url(../images/icon/play.png);
}

/* line 630, ../../../sass/style.scss */
._off {
  background-image: url(../images/icon/off.png);
}

/* line 631, ../../../sass/style.scss */
._play_white {
  background-image: url(../images/icon/play_white.png);
}

/* line 633, ../../../sass/style.scss */
._facebook-double {
  background-image: url(../images/icon/facebook-double.png);
}

/* line 634, ../../../sass/style.scss */
._twitter-double {
  background-image: url(../images/icon/twitter-double.png);
}

/* line 635, ../../../sass/style.scss */
._youtube-double {
  background-image: url(../images/icon/youtube-double.png);
}

/* line 636, ../../../sass/style.scss */
._google-double {
  background-image: url(../images/icon/google-double.png);
}

/* line 637, ../../../sass/style.scss */
._web-double {
  background-image: url(../images/icon/web-double.png);
}

/* line 639, ../../../sass/style.scss */
._check {
  background-image: url(../images/icon/check.png);
}

/* line 641, ../../../sass/style.scss */
._nextPage {
  background-image: url(../images/icon/nextPage.png);
}

/* line 642, ../../../sass/style.scss */
._prevPage {
  background-image: url(../images/icon/prevPage.png);
}

/* line 645, ../../../sass/style.scss */
._back {
  background-image: url(../images/icon/musicplayer/back.png);
}

/* line 646, ../../../sass/style.scss */
._pause {
  background-image: url(../images/icon/musicplayer/pause.png);
}

/* line 647, ../../../sass/style.scss */
._next {
  background-image: url(../images/icon/musicplayer/next.png);
}

/* line 648, ../../../sass/style.scss */
._play {
  background-image: url(../images/icon/musicplayer/play.png);
}

/* line 651, ../../../sass/style.scss */
._message-small {
  background-image: url(../images/icon/small/message-small.png);
}

/* line 652, ../../../sass/style.scss */
._compass-small {
  background-image: url(../images/icon/small/compass-small.png);
}

/* line 653, ../../../sass/style.scss */
._love {
  background-image: url(../images/icon/small/love.png);
}

/* line 654, ../../../sass/style.scss */
._unlove {
  background-image: url(../images/icon/small/unlove.png);
}

/* line 655, ../../../sass/style.scss */
._comment {
  background-image: url(../images/icon/small/comment.png);
}

/* line 656, ../../../sass/style.scss */
._shere {
  background-image: url(../images/icon/small/shere.png);
}

/* line 657, ../../../sass/style.scss */
._review {
  background-image: url(../images/icon/small/review.png);
}

/* line 658, ../../../sass/style.scss */
._menu-small {
  background-image: url(../images/icon/small/menu-small.png);
}

/* line 659, ../../../sass/style.scss */
._star-orange {
  background-image: url(../images/icon/small/star-orange.png);
}

/* line 660, ../../../sass/style.scss */
._star-grey {
  background-image: url(../images/icon/small/star-grey.png);
}

/* line 663, ../../../sass/style.scss */
._target1 {
  background-image: url(../images/icon/achievement/target1.png);
}

/* line 664, ../../../sass/style.scss */
._target2 {
  background-image: url(../images/icon/achievement/target2.png);
}

/* line 665, ../../../sass/style.scss */
._target3 {
  background-image: url(../images/icon/achievement/target3.png);
}

/* line 668, ../../../sass/style.scss */
._message_status {
  background-image: url(../images/icon/status/message.png);
}

/* line 669, ../../../sass/style.scss */
._follower_status {
  background-image: url(../images/icon/status/follower.png);
}
