/* classi generiche */
/* line 6, ../../../sass/style.scss */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 10, ../../../sass/style.scss */
.no-display {
  display: none;
}

/* line 11, ../../../sass/style.scss */
.inline-display {
  display: inline;
}

/* line 29, ../../../sass/style.scss */
body h2 {
  color: #f3f3f3;
  margin-bottom: 0px;
}
/* line 30, ../../../sass/style.scss */
body h3 {
  color: #787878;
  margin-bottom: 5px;
}

/* line 34, ../../../sass/style.scss */
.sottotitle {
  font-size: 17px !important;
}

/* line 38, ../../../sass/style.scss */
.text {
  font-size: 14px !important;
}

/* line 43, ../../../sass/style.scss */
label.text {
  font-weight: normal  !important;
  margin-bottom: 5px !important;
}

/* line 48, ../../../sass/style.scss */
.line {
  border-bottom: 1px solid #787878;
  margin-bottom: 5px !important;
}

/* line 53, ../../../sass/style.scss */
.align-right {
  text-align: right !important;
}

/* line 57, ../../../sass/style.scss */
.note {
  font-size: 11px !important;
}

/* line 61, ../../../sass/style.scss */
.white {
  color: #f3f3f3 !important;
}

/* line 64, ../../../sass/style.scss */
.orange {
  color: #ff7505 !important;
}

/* line 67, ../../../sass/style.scss */
.grey {
  color: #787878 !important;
}

/* line 70, ../../../sass/style.scss */
.grey-dark {
  color: #303030 !important;
}

/* line 74, ../../../sass/style.scss */
.grey-light {
  color: #d8d8d8 !important;
}

/* line 78, ../../../sass/style.scss */
.red {
  color: #ed1c24 !important;
}

/* line 82, ../../../sass/style.scss */
.content p {
  font-size: 14px;
  line-height: 120%;
}

/* line 86, ../../../sass/style.scss */
.content {
  border-bottom: 1px solid #303030;
}

/* line 90, ../../../sass/style.scss */
.bg-double {
  background-color: #f3f3f3;
  height: auto;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwMzAzMCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMzAzMDMwIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #303030), color-stop(50%, #303030), color-stop(50%, #f3f3f3), color-stop(100%, #f3f3f3));
  background-image: -webkit-linear-gradient(left, #303030 0%, #303030 50%, #f3f3f3 50%, #f3f3f3 100%);
  background-image: -moz-linear-gradient(left, #303030 0%, #303030 50%, #f3f3f3 50%, #f3f3f3 100%);
  background-image: -o-linear-gradient(left, #303030 0%, #303030 50%, #f3f3f3 50%, #f3f3f3 100%);
  background-image: linear-gradient(left, #303030 0%, #303030 50%, #f3f3f3 50%, #f3f3f3 100%);
  overflow: hidden;
}

/* line 102, ../../../sass/style.scss */
.bg-grey-dark {
  background-color: #303030 !important;
  height: 100%;
}

/* line 107, ../../../sass/style.scss */
.profile-style {
  background-color: #f3f3f3;
}

/* line 117, ../../../sass/style.scss */
a.ico-label {
  word-wrap: break-word !important;
  width: auto;
  height: 30px;
  float: left;
  font-size: 13px;
  color: #787878;
  line-height: 30px;
  margin-right: 1px;
  padding: 0 0px 0 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition-property: background-position, color;
  -moz-transition-property: background-position, color;
  -o-transition-property: background-position, color;
  transition-property: background-position, color;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
}
/* line 132, ../../../sass/style.scss */
a.ico-label:hover {
  background-position: left top;
  color: #787878;
}

/* line 137, ../../../sass/style.scss */
a.ico-label-btn {
  background-color: #787878;
  padding: 0 12px 0 30px;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
}
/* line 142, ../../../sass/style.scss */
a.ico-label-btn:hover {
  background-color: #787878;
}

/* line 147, ../../../sass/style.scss */
a.icon-block {
  word-wrap: break-word !important;
  width: auto;
  height: 30px;
  float: right;
  font-size: 13px;
  color: #787878;
  margin-top: 15px !important;
  line-height: 30px;
  margin-right: 1px;
  padding: 0 0px 0 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-transition-property: background-position;
  -moz-transition-property: background-position;
  -o-transition-property: background-position;
  transition-property: background-position;
}
/* line 162, ../../../sass/style.scss */
a.icon-block:hover {
  background-position: left bottom;
}

/* line 168, ../../../sass/style.scss */
.slide-button-next {
  word-wrap: break-word !important;
  width: auto;
  height: 30px;
  float: right;
  font-size: 13px;
  color: #787878;
  line-height: 30px;
  margin-right: 1px;
  cursor: pointer;
  top: 5px !important;
  margin-top: 15px !important;
  padding: 0px 30px 0px 0px !important;
  background-repeat: no-repeat;
  background-position: right top;
}
/* line 183, ../../../sass/style.scss */
.slide-button-next:hover {
  background-position: right bottom;
  color: #f3f3f3;
}

/* line 189, ../../../sass/style.scss */
.slide-button-prev {
  word-wrap: break-word !important;
  width: auto;
  height: 30px;
  float: right;
  font-size: 13px;
  color: #787878;
  margin-top: 15px !important;
  line-height: 30px;
  margin-right: 1px;
  padding: 0 0px 0 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-transition-property: background-position;
  -moz-transition-property: background-position;
  -o-transition-property: background-position;
  transition-property: background-position;
}
/* line 204, ../../../sass/style.scss */
.slide-button-prev:hover {
  background-position: left bottom;
  color: #f3f3f3;
}

/* line 211, ../../../sass/style.scss */
.add {
  width: 43px;
  height: 43px;
  background-color: #ff7505;
  float: left;
  cursor: pointer;
}
/* line 217, ../../../sass/style.scss */
.add:hover {
  background-color: #c95600;
}

/* line 222, ../../../sass/style.scss */
.icon-small {
  width: 15px;
  height: 15px;
}

/* line 234, ../../../sass/style.scss */
footer {
  width: 100%;
  height: auto;
  padding: 8px;
  background: #1c1c1c;
  position: fixed;
  bottom: 0px;
  margin: 0px;
  z-index: 999;
  overflow: visible !important;
}

/* line 248, ../../../sass/style.scss */
#footer {
  overflow: auto;
}
/* line 250, ../../../sass/style.scss */
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
  color: #787878 !important;
  margin-bottom: 0.2em !important;
}

/* line 257, ../../../sass/style.scss */
.footer-ico {
  color: #787878 !important;
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
}

/* line 265, ../../../sass/style.scss */
.footer-ico-off {
  color: #ff7505 !important;
  font-size: 20px;
  cursor: pointer;
}

/* line 275, ../../../sass/style.scss */
.user {
  font-size: 20px;
  color: #787878 !important;
  margin-top: 5px;
  padding-bottom: 0;
}

/* line 282, ../../../sass/style.scss */
#footer-body {
  overflow: auto;
}
/* line 284, ../../../sass/style.scss */
#footer-body h1, #footer-body h2, #footer-body h3, #footer-body h4, #footer-body h5, #footer-body h6 {
  color: #787878 !important;
  margin-bottom: 0.5em !important;
}

/* line 290, ../../../sass/style.scss */
#footer-body a {
  font-size: 12px;
  color: #787878 !important;
  margin-bottom: 0.2em !important;
}

/* line 297, ../../../sass/style.scss */
#error_page {
  background-color: #232323 !important;
  height: 700px;
}
/* line 300, ../../../sass/style.scss */
#error_page body {
  background-color: #232323 !important;
}

/* line 306, ../../../sass/style.scss */
#signup {
  padding-top: 3%;
}
/* line 308, ../../../sass/style.scss */
#signup h2, #signup h3 {
  color: #d8d8d8;
}

/* line 313, ../../../sass/style.scss */
.signup-box {
  border-top: 1px solid #ff7505;
  background-color: #232323;
  margin-bottom: 60px;
}

/* line 319, ../../../sass/style.scss */
.signup-title {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* line 325, ../../../sass/style.scss */
#signup01 {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5%;
}
/* line 330, ../../../sass/style.scss */
#signup01 h3 {
  color: #787878 !important;
}

/* line 335, ../../../sass/style.scss */
#form-signup label {
  font-size: 14px;
  color: #d8d8d8;
  text-align: left !important;
  padding-bottom: 20px !important;
}

/* line 344, ../../../sass/style.scss */
#signup01 label {
  text-align: center !important;
  color: #787878 !important;
}
/* line 347, ../../../sass/style.scss */
#signup01 label:hover {
  color: #d8d8d8 !important;
}
/* line 349, ../../../sass/style.scss */
#signup01 label:hover h3 {
  color: #ff7505 !important;
}
/* line 350, ../../../sass/style.scss */
#signup01 label:hover .img-white {
  display: inline;
  text-align: center;
}
/* line 351, ../../../sass/style.scss */
#signup01 label:hover .img-grey {
  display: none;
}

/* line 357, ../../../sass/style.scss */
#signup-ok label {
  text-align: center !important;
  color: #787878 !important;
}
/* line 360, ../../../sass/style.scss */
#signup-ok label:hover {
  color: #d8d8d8 !important;
}
/* line 362, ../../../sass/style.scss */
#signup-ok label:hover h3 {
  color: #ff7505 !important;
}
/* line 363, ../../../sass/style.scss */
#signup-ok label:hover .img-white {
  display: inline;
  text-align: center;
}
/* line 364, ../../../sass/style.scss */
#signup-ok label:hover .img-grey {
  display: none;
}

/* line 369, ../../../sass/style.scss */
.signup-ok {
  padding-left: 150px !important;
  padding-right: 150px !important;
  padding-bottom: 50px !important;
}
/* line 370, ../../../sass/style.scss */
.signup-ok h3 {
  color: #787878 !important;
}

/* line 376, ../../../sass/style.scss */
#form-signup input[type='text'], input[type='password'] {
  color: #f3f3f3;
  background-color: #232323;
  border: 0px;
  border-bottom: 1px solid #303030;
  margin-left: 0px;
}
/* line 383, ../../../sass/style.scss */
#form-signup input[type='text']:focus, input[type='password']:focus {
  background-color: #303030;
  border-bottom: 1px solid #787878;
}

/* line 390, ../../../sass/style.scss */
#form-signup input[type='text'].error, input[type='password'].error {
  border: 1px solid #ed1c24;
}

/* line 395, ../../../sass/style.scss */
#form-signup select + #spotter-birth-day {
  cursor: pointer !important;
}

/* line 399, ../../../sass/style.scss */
#form-signup textarea {
  color: #f3f3f3 !important;
  background-color: #232323;
  border: 1px solid #303030;
  height: 150px;
}
/* line 404, ../../../sass/style.scss */
#form-signup textarea:focus {
  background-color: #303030;
}

/* line 410, ../../../sass/style.scss */
.captcha input[type='text'] {
  width: auto !important;
}

/* line 415, ../../../sass/style.scss */
#signup .signup-body {
  padding: 30px !important;
  padding-left: 60px !important;
  padding-right: 60px !important;
}

/* line 421, ../../../sass/style.scss */
#signup .signup-labelStep {
  width: 95px;
  height: 50px;
  color: #d8d8d8;
  font-size: 14px;
  background-color: #c95600;
  float: left;
  margin-left: 2px;
  padding: 20px;
  text-align: center !important;
  float: right;
}

/* line 436, ../../../sass/style.scss */
#signup .signup-button {
  background-image: url(../images/button/signup-next.png) !important;
  background-color: #232323;
  border: 0px;
  color: #f3f3f3;
  width: 135px;
  height: 35px;
  margin: 20px !important;
  background-repeat: no-repeat;
}

/* line 448, ../../../sass/style.scss */
#signup .signup-button-back {
  background-image: url(../images/button/signup-back.png) !important;
  background-color: #232323;
  border: 0px;
  color: #787878;
  width: 135px;
  height: 35px;
  background-repeat: no-repeat;
}

/* line 461, ../../../sass/style.scss */
#signup .signup-note {
  padding-top: 50px;
}

/* line 465, ../../../sass/style.scss */
#signup .signup-button-fb {
  width: 344px;
  height: 55px !important;
  font-size: 27px;
  font-weight: normal  !important;
  background-color: #d8d8d8 !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #303030 !important;
  background-image: url(../images/icon/facebook-button.png);
  background-repeat: no-repeat;
  background-position: 5px 10px;
  padding: 5px !important;
}

/* line 480, ../../../sass/style.scss */
#signup .align-center {
  text-align: center;
}

/* line 485, ../../../sass/style.scss */
#signup .signup-box-image {
  border: 2px solid #787878;
  height: 105px !important;
  padding: 0px !important;
  margin-bottom: 30px;
}

/* line 492, ../../../sass/style.scss */
.signup-box-avatar {
  padding: 0px !important;
}

/* line 496, ../../../sass/style.scss */
.signup-image {
  text-align: center !important;
  background-color: #303030 !important;
  height: 99px !important;
  margin: 1px !important;
  width: 99px !important;
}

/* line 504, ../../../sass/style.scss */
.signup-box-avatar-text {
  padding-top: 30px !important;
}

/* line 508, ../../../sass/style.scss */
#form-signup .signup-genre label {
  background-color: #303030 !important;
  height: 25px !important;
  color: #f3f3f3;
  float: left;
  padding: 5px;
  margin-right: 15px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 520, ../../../sass/style.scss */
#form-signup .signup-genre input[type='checkbox']:checked + label {
  background-color: #ff7505 !important;
}

/* line 527, ../../../sass/style.scss */
#form-signup .signup-icon-social {
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: left;
  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}

/* line 538, ../../../sass/style.scss */
#form-signup .signup-icon-social-focus {
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: left;
  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top !important;
}

/* line 549, ../../../sass/style.scss */
#form-signup .signup-bottom {
  margin-bottom: 50px;
}

/* line 553, ../../../sass/style.scss */
#form-signup .signup-radio input[type='radio'] + label {
  height: 30px;
  width: auto;
  background-image: url(../images/icon/double-icone/check.png);
  background-repeat: no-repeat;
  background-position: left bottom !important;
  line-height: 30px;
  margin-right: 20px;
  padding: 0 0px 0 30px;
}

/* line 564, ../../../sass/style.scss */
#form-signup .signup-radio input[type='radio']:checked + label {
  background-position: left top !important;
}

/* line 568, ../../../sass/style.scss */
.addComponents {
  cursor: pointer;
}

/* line 572, ../../../sass/style.scss */
#form-signup select {
  cursor: pointer;
  padding: 2px !important;
  color: #d8d8d8 !important;
  background-color: #232323;
  border: 1px solid #303030;
  height: 30px;
  background: #232323 url(../images/icon/small/other.png) no-repeat right !important;
  -webkit-appearance: none;
}
/* line 582, ../../../sass/style.scss */
#form-signup select:focus {
  border: 1px solid #303030;
  background-color: #303030;
  border-bottom: 1px solid #787878;
}

/* line 590, ../../../sass/style.scss */
.reveal-modal {
  top: -100px !important;
}

/* line 593, ../../../sass/style.scss */
.location-reveal {
  text-align: right !important;
  position: absolute;
  right: 0px;
}

/* line 600, ../../../sass/style.scss */
#form-signup .error {
  background-color: inherit !important;
  color: #ed1c24 !important;
  float: center !important;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* line 609, ../../../sass/style.scss */
#form-signup small.error {
  float: right !important;
}

/* line 613, ../../../sass/style.scss */
.uploadImage_tumbnail-pane {
  width: 99px !important;
  height: 99px !important;
  overflow: hidden;
}

/* line 620, ../../../sass/style.scss */
.uploadImage_tumbnail-pane img {
  max-width: none !important;
}

/* line 625, ../../../sass/style.scss */
.uploadImage {
  min-height: 400px;
}

/* line 630, ../../../sass/style.scss */
.uploadImage input[type='file'] {
  display: none;
}

/* line 635, ../../../sass/style.scss */
.uploadImage .uploadImage_file_label {
  background-color: #ff7505;
  height: 40px;
  padding: 13px;
  padding-left: 40px;
  background-image: url(../images/icon/add.png) !important;
  background-repeat: no-repeat;
  font-size: 14px !important;
  margin-bottom: 50px;
}

/* line 646, ../../../sass/style.scss */
.uploadImage-reveal {
  left: 5px !important;
  width: 900px !important;
  background-color: #232323 !important;
}

/* line 659, ../../../sass/style.scss */
._back_page {
  background-image: url(../images/icon/double-icone/back_page.png);
}

/* line 660, ../../../sass/style.scss */
._calendar {
  background-image: url(../images/icon/double-icone/calendar.png);
}

/* line 661, ../../../sass/style.scss */
._check {
  background-image: url(../images/icon/double-icone/check.png);
}

/* line 662, ../../../sass/style.scss */
._compass {
  background-image: url(../images/icon/double-icone/compass.png);
}

/* line 663, ../../../sass/style.scss */
._facebook {
  background-image: url(../images/icon/double-icone/facebook.png);
}

/* line 664, ../../../sass/style.scss */
._facebook-double {
  background-image: url(../images/icon/double-icone/facebook-double.png);
}

/* line 665, ../../../sass/style.scss */
._flag {
  background-image: url(../images/icon/double-icone/flag.png);
}

/* line 666, ../../../sass/style.scss */
._friend {
  background-image: url(../images/icon/double-icone/friend.png);
}

/* line 667, ../../../sass/style.scss */
._google {
  background-image: url(../images/icon/double-icone/google.png);
}

/* line 668, ../../../sass/style.scss */
._google-double {
  background-image: url(../images/icon/double-icone/google-double.png);
}

/* line 669, ../../../sass/style.scss */
._message {
  background-image: url(../images/icon/double-icone/message.png);
}

/* line 670, ../../../sass/style.scss */
._nextPage {
  background-image: url(../images/icon/double-icone/nextPage.png);
}

/* line 671, ../../../sass/style.scss */
._note {
  background-image: url(../images/icon/double-icone/note.png);
}

/* line 672, ../../../sass/style.scss */
._note-white {
  background-image: url(../images/icon/double-icone/note-white.png);
}

/* line 673, ../../../sass/style.scss */
._notify {
  background-image: url(../images/icon/double-icone/notify.png);
}

/* line 674, ../../../sass/style.scss */
._off {
  background-image: url(../images/icon/double-icone/off.png);
}

/* line 675, ../../../sass/style.scss */
._pin {
  background-image: url(../images/icon/double-icone/pin.png);
}

/* line 676, ../../../sass/style.scss */
._pin-white {
  background-image: url(../images/icon/double-icone/pin-white.png);
}

/* line 677, ../../../sass/style.scss */
._play-large {
  background-image: url(../images/icon/double-icone/play.png);
}

/* line 678, ../../../sass/style.scss */
._play_white {
  background-image: url(../images/icon/double-icone/play_white.png);
}

/* line 679, ../../../sass/style.scss */
._prevPage {
  background-image: url(../images/icon/double-icone/prevPage.png);
}

/* line 680, ../../../sass/style.scss */
._setting {
  background-image: url(../images/icon/double-icone/setting.png);
}

/* line 681, ../../../sass/style.scss */
._twitter {
  background-image: url(../images/icon/double-icone/twitter.png);
}

/* line 682, ../../../sass/style.scss */
._twitter-double {
  background-image: url(../images/icon/double-icone/twitter-double.png);
}

/* line 683, ../../../sass/style.scss */
._web {
  background-image: url(../images/icon/double-icone/web.png);
}

/* line 684, ../../../sass/style.scss */
._web-double {
  background-image: url(../images/icon/double-icone/web-double.png);
}

/* line 685, ../../../sass/style.scss */
._youtube {
  background-image: url(../images/icon/double-icone/youtube.png);
}

/* line 686, ../../../sass/style.scss */
._youtube-double {
  background-image: url(../images/icon/double-icone/youtube-double.png);
}

/* line 689, ../../../sass/style.scss */
._add {
  background-image: url(../images/icon/add.png);
}

/* line 692, ../../../sass/style.scss */
._check-button {
  background-image: url(../images/icon/button/check.png);
}

/* line 693, ../../../sass/style.scss */
._note-button {
  background-image: url(../images/icon/button/note.png);
}

/* line 694, ../../../sass/style.scss */
._delete-button {
  background-image: url(../images/icon/button/delete.png);
}

/* line 698, ../../../sass/style.scss */
._back {
  background-image: url(../images/icon/musicplayer/back.png);
}

/* line 699, ../../../sass/style.scss */
._pause {
  background-image: url(../images/icon/musicplayer/pause.png);
}

/* line 700, ../../../sass/style.scss */
._next {
  background-image: url(../images/icon/musicplayer/next.png);
}

/* line 701, ../../../sass/style.scss */
._play {
  background-image: url(../images/icon/musicplayer/play.png);
}

/* line 704, ../../../sass/style.scss */
._message-small {
  background-image: url(../images/icon/small/message-small.png);
}

/* line 705, ../../../sass/style.scss */
._compass-small {
  background-image: url(../images/icon/small/compass-small.png);
}

/* line 706, ../../../sass/style.scss */
._love {
  background-image: url(../images/icon/small/love.png);
}

/* line 707, ../../../sass/style.scss */
._unlove {
  background-image: url(../images/icon/small/unlove.png);
}

/* line 708, ../../../sass/style.scss */
._comment {
  background-image: url(../images/icon/small/comment.png);
}

/* line 709, ../../../sass/style.scss */
._share {
  background-image: url(../images/icon/small/share.png);
}

/* line 710, ../../../sass/style.scss */
._review {
  background-image: url(../images/icon/small/review.png);
}

/* line 711, ../../../sass/style.scss */
._menu-small {
  background-image: url(../images/icon/small/menu-small.png);
}

/* line 712, ../../../sass/style.scss */
._star-orange {
  background-image: url(../images/icon/small/star-orange.png);
}

/* line 713, ../../../sass/style.scss */
._star-grey {
  background-image: url(../images/icon/small/star-grey.png);
}

/* line 716, ../../../sass/style.scss */
._target1 {
  background-image: url(../images/icon/achievement/target1.png);
}

/* line 717, ../../../sass/style.scss */
._target2 {
  background-image: url(../images/icon/achievement/target2.png);
}

/* line 718, ../../../sass/style.scss */
._target3 {
  background-image: url(../images/icon/achievement/target3.png);
}

/* line 721, ../../../sass/style.scss */
._message_status {
  background-image: url(../images/icon/status/message.png);
}

/* line 722, ../../../sass/style.scss */
._follower_status {
  background-image: url(../images/icon/status/follower.png);
}
