/* line 5, ../../../sass/uploadRecordStyle.scss */
#uploadRecord-listRecord .uploadRecord-boxSingleRecord {
  width: 284px;
  height: 134px;
  background-color: #303030;
  margin: 15px !important;
  margin-right: 0px !important;
}
/* line 11, ../../../sass/uploadRecordStyle.scss */
#uploadRecord-listRecord .uploadRecord-boxSingleRecord:hover {
  background-color: #ff7505;
}

/* line 16, ../../../sass/uploadRecordStyle.scss */
#uploadRecord-listRecord .arrow-holder {
  height: 134px !important;
  margin: 15px !important;
}

/* line 21, ../../../sass/uploadRecordStyle.scss */
#uploadRecord-listRecord .arrow-holder.right {
  right: -35px;
}

/* line 25, ../../../sass/uploadRecordStyle.scss */
#uploadRecord-listRecord .arrow-icon.left {
  left: -15px;
}

/* line 29, ../../../sass/uploadRecordStyle.scss */
#uploadRecord-listRecord .coverRecord {
  width: 134px;
  height: 134px;
  padding: 5px;
}

/* line 35, ../../../sass/uploadRecordStyle.scss */
#uploadRecord-listRecord .title {
  padding: 10px;
}

/* line 39, ../../../sass/uploadRecordStyle.scss */
#uploadRecord-listSong table.singleSong {
  border: none !important;
}
/* line 42, ../../../sass/uploadRecordStyle.scss */
#uploadRecord-listSong table.singleSong td {
  background-color: #303030;
  height: 63px;
  margin-left: 3px;
  color: #f3f3f3 !important;
  border-right: 3px #232323 solid;
}
/* line 49, ../../../sass/uploadRecordStyle.scss */
#uploadRecord-listSong table.singleSong tr {
  border-bottom: 5px #232323 solid;
}
/* line 52, ../../../sass/uploadRecordStyle.scss */
#uploadRecord-listSong table.singleSong .title {
  width: 425px;
  font-weight: bold;
  background-repeat: no-repeat;
  padding: 0 0 0 45px;
  background-position-y: 10px;
}
/* line 59, ../../../sass/uploadRecordStyle.scss */
#uploadRecord-listSong table.singleSong .time {
  width: 70px;
  text-align: center;
}
/* line 63, ../../../sass/uploadRecordStyle.scss */
#uploadRecord-listSong table.singleSong .genre {
  width: 350px;
}
/* line 66, ../../../sass/uploadRecordStyle.scss */
#uploadRecord-listSong table.singleSong .delete {
  width: 63px;
  background-color: #ed1c24 !important;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 50%;
}
