/*
 * Style per form di tipo black
 */
/* line 8, ../sass/uploadEventStyle.scss */
#uploadEvent01 #hours {
  position: relative;
  min-height: 40px;
  display: block;
  line-height: 14px;
  margin: 0;
  -moz-appearance: window;
  -moz-padding-end: 19px;
  background: transparent;
  background-color: transparent;
  background-color: #1c1c1c;
  color: #f3f3f3;
  border: 0px;
  border-bottom: 1px solid #303030;
  margin-left: 0px;
  -webkit-appearance: none;
  appearance: none;
}
/* line 24, ../sass/uploadEventStyle.scss */
#uploadEvent01 #hours:focus {
  background-color: #303030;
  border-bottom: 1px solid #787878;
}
